<script>
    var RoundTripData = {
        "products" : {
            "0" : {
                "name" : "hat",
                "quantity" : 1
            },
            "1" : {
                "name" : "suitcase",
                "quantity" : 2
            },
            "2" : {
                "name" : "umbrella",
                "quantity" : 3
            }
        },
        "user" : {
            "0" : {
                "name" : "john",
                "surname" : "Doe"
            },
            "1" : {
                "name" : "Marie",
                "surname" : "Doe"
            },
            "2" : {
                "name" : "Mike",
                "surname" : "Doe"
            }
        }
    };
</script>