{% set current_children = "Center box" %}
{% set current_section = "Structure" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1 class="mr-l"><span class="label-css fz-xl va-m">CSS</span> <span class="label-js fz-xl va-m">JS</span> Center box</h1>
    <p>Somtimes you need that a box centers in the middle of the screen. This can be useful for landings, login or register pages.</p>
    <section class="box-lighten">
        <h2>Center box without loading</h2>
        <p>It's not necessary to define the width and the height but you will see the change of position in live.</p>
        {{ demos.demo(
            'centerbox',
            '../_demos/structure/center-box.html',
            false, false, false, '300px'
        )}}
    </section>

    <section class="box-lighten">
        <h2>Center box with loading</h2>
        <p>It's mandatory to define the width and the height but the load process is more beauty.</p>
        {{ demos.demo(
        'centerbox-loading',
        '../_demos/structure/center-box-loading.html',
        false, false, false, '300px'
        )}}
    </section>

    {{ demos.settings(
    {
        "1" : {
            "name" :        "data-fc-height",
            "description" : "Height of the center box",
            "default" : "auto"
        },
        "2" : {
            "name" :        "data-fc-width",
            "description" : "Width of the center box",
            "default" : "auto"
        },
        "3" : {
            "name" :       "data-fc-position",
            "description" : "Defines if the position css attribute is absolute or fixed. When the position is absolute is relative to his parent but if it's fixed will be relative to the window.",
            "default" : "absolute"
        }
    }
    )}}
{% endblock %}