.form-error-over {
  .form-error-message {
    right: $spacing/2;
    margin-top: -$spacing*1.4;
  }
}
.form-error-message {
  & {
    color: $color-error;
    margin: 0;
    font-size: $font-size-xs;
    margin-top: -$spacing/8;
    font-weight: normal;
  }
  li:first-of-type {
    padding-top: $spacing/4;
  }
  li {
    padding-bottom: $spacing/4;
  }
}

label {
  .form-error-message {
    margin-top: 0;
  }
}