@import "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300";
/*
$font-line-height: (
	base: 1.5em,
	title: 1.2em
) !global;

$font-faces: (
	default: 'Tahoma, Arial, Verdana, sans-serif',
	title: "'Open Sans Condensed','Arial Narrow', Tahoma, sans-serif",
	icons: true
) !global;

$font-sizes: (
	base: 14px,
	xxxl: 2.2rem,
	xxl: 1.7rem,
	xl: 1.4rem,
	l: 1.2rem,
	ml: 1.1rem,
	m: 1rem,
	default: .9rem,
	s: .8rem,
	xs: .75rem,
	xxs: .7rem,
	xxxs: .6rem,
	xxxxs: .5rem
) !global;
*/