/*
$objects: (
	style: flat,
	boxes: default,
	buttons: default,
	filters: default,
	footer: default,
	form: default,
	form-search: default,
	header: default,
	image-circle: default,
	image-polaroid: default,
	lists: default,
	messages: default,
	navigation: default,
	navigation-sub: default,
	pagination: default,
	ratings: default,
	slides: default,
	steps: default,
	tabs: default,
	tags: default
) !global !default;

*/
