{% set current_children = "Dynamic Table" %}
{% set current_section = "Tables" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Dynamic Table</h1>
    <section class="box-lighten">
        <h2>Full dynamic table</h2>
        <p>The full featured dynamic table includes search, pagination and sortable columns.</p>
        {{ demos.demo(
            'full-table',
            '../_demos/tables/table-dynamic-full.html'
        )}}
   </section>
    <section class="box-lighten">
        <h2>Sort dynamic table</h2>
        <p>You can deactivate some of the features if you don't need, and for example just a sortable table</p>
        {{ demos.demo(
            'sort-table',
            '../_demos/tables/table-dynamic-sort.html'
        )}}
   </section>

    {{ demos.settings(
    {
        "1" : {
            "name" :        "data-tc-pagination",
            "description" : "If you set this to false then the pagination and the show rows selector will not be called.",
            "default" : "true"
        },
        "2" : {
            "name" :        "data-tc-sort",
            "description" : "If you set this to false then the th of the table will not allow you to order the table.",
            "default" : "true"
        },
        "3" : {
            "name" :        "data-tc-search",
            "description" : "If you set this to false then the search will not be called.",
            "default" : "true"
        }
    }
    )}}
{% endblock %}