{% set current_children = "Flex Table" %}
{% set current_section = "Tables" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_object.html.twig" %}

{% block object_title %}
    <h1><span class="label-css fz-xl va-m">CSS</span> Static Table</h1>
{% endblock object_title %}


{% block object_demo %}
    {{ demos.demo(
        'flex-table',
        PathComponents ~ 'table-flex/html/table-flex.html'
    )}}
{% endblock object_demo %}

 {% block object_scss_vars %}
     {{ demos.scss_object(
     '../../css/core/objects/tables/__vars.scss',
     'statictable-vars'
     )}}
 {% endblock object_scss_vars %}