<!-- PRIMARY -->
<nav class="navigation navigation--primary">
	<ul>
		<li class="active">
			<a title="Menu item 1" href="#tab1">Menu item 1</a>
		</li>
		<li><a title="Menu item 2" href="#tab2">Menu item 2</a></li>
		<li><a title="Menu item 3" href="#tab3">Menu item 3</a></li>
	</ul>
</nav>

<!-- SECONDARY -->
<nav class="navigation navigation--secondary">
	<ul>
		<li class="active">
			<a title="Menu item 1" href="#tab1">Menu item 1</a>
		</li>
		<li><a title="Menu item 2" href="#tab2">Menu item 2</a></li>
		<li><a title="Menu item 3" href="#tab3">Menu item 3</a></li>
	</ul>
</nav>

<!-- BOX -->
<nav class="navigation navigation--box">
	<ul>
		<li class="active">
			<a title="Menu item 1" href="#tab1">Menu item 1</a>
		</li>
		<li><a title="Menu item 2" href="#tab2">Menu item 2</a></li>
		<li><a title="Menu item 3" href="#tab3">Menu item 3</a></li>
	</ul>
</nav>

<!-- FOREGROUND -->
<nav class="navigation navigation--foreground">
	<ul>
		<li class="active">
			<a title="Menu item 1" href="#tab1">Menu item 1</a>
		</li>
		<li><a title="Menu item 2" href="#tab2">Menu item 2</a></li>
		<li><a title="Menu item 3" href="#tab3">Menu item 3</a></li>
	</ul>
</nav>

<!-- BACKGROUND -->
<nav class="navigation navigation--background">
	<ul>
		<li class="active">
			<a title="Menu item 1" href="#tab1">Menu item 1</a>
		</li>
		<li><a title="Menu item 2" href="#tab2">Menu item 2</a></li>
		<li><a title="Menu item 3" href="#tab3">Menu item 3</a></li>
	</ul>
</nav>

