<nav class="navigation _primary _vertical w-30" data-fc-modules="dropdown">
    <ul>
        <li>
            <a title="Fruits" href="test.html">Hover (href is test.html)</a>
            <ul>
                <li>
                    <a title="Oranges" href="test.html">Another level</a>
                    <ul>
                        <li>
                            <a title="Menu item 1" href="test.html">Oranges OrangesOranges OrangesOranges</a>
                            <ul>
                                <li><a title="Menu item 1" href="#tab-vertical-1">Oranges OrangesOranges OrangesOranges</a></li>
                                <li><a title="Menu item 2" href="#tab-vertical-2">Apples</a></li>
                                <li><a title="Menu item 3" href="#tab-vertical-3">Bananas</a></li>
                            </ul>
                        </li>
                        <li><a title="Menu item 2" href="#tab-vertical-2">Apples</a></li>
                        <li><a title="Menu item 3" href="#tab-vertical-3">Bananas</a></li>
                    </ul>
                </li>
                <li>
                    <a title="Apples" href="test.html">Yep, more level</a>
                    <ul>
                        <li><a title="Menu item 1" href="#tab-vertical-1">Oranges OrangesOranges OrangesOranges</a></li>
                        <li><a title="Menu item 2" href="#tab-vertical-2">Apples</a></li>
                        <li><a title="Menu item 3" href="#tab-vertical-3">Bananas</a></li>
                    </ul>
                </li>
                <li><a title="Bananas" href="#tab-vertical-3">Bananas</a></li>
            </ul>
        </li>
        <li>
            <a title="Vegetables" href="#vegetables-vertical">Click (href is #vegetables) </a>
            <ul id="vegetables-vertical">
                <li>
                    <a title="Menu item 1" href="#oranges-vertical">Oranges</a>
                    <ul id="oranges-vertical">
                        <li><a title="Menu item 1" href="#tab-vertical-1">Oranges OrangesOranges OrangesOranges</a></li>
                        <li><a title="Menu item 2" href="#tab-vertical-2">Apples</a></li>
                        <li><a title="Menu item 3" href="#tab-vertical-3">Bananas</a></li>
                    </ul>
                </li>
                <li><a title="Menu item 2" href="#tab-vertical-2">Apples</a></li>
                <li><a title="Menu item 3" href="#tab-vertical-3">Bananas</a></li>
            </ul>
        </li>
        <li><a title="Menu item 3" href="#tab-vertical-3">Lettuce</a></li>
    </ul>
</nav>
