$object-pagination-vars-default: (

	/* Padding to the links */
	padding: $spacing/4,

	/* Padding to the links */
	min-width: false,

	/* Background color */
	background-color: rgba($color-foreground, .1),

	/* Color */
	color: $color-foreground,

	/* Background color for active items */
	background-color-active: $color-background,

	/* Color for active items */
	color-active: $color-foreground,

	/* Background color on hover items */
	background-color-hover: $color-link,

	/* Color on hover items */
	color-hover: contrast-color($color-link),

	/* Border width to the links */
	border-width: 1px,

	/* Border style to the links */
	border-style: solid,

	/* Border color to the links */
	border-color: rgba($color-foreground, .1),

	/* Border Radius */
	border-radius: $default-border-radius,

	/* Font family to the links */
	font-family: $font-face-default,

	/* Font weight to the links */
	font-weight: normal,

	/* Font weight on active items*/
	font-weight-active: bold,

	/* Font size to the links */
	font-size: $font-size-default,

) !global !default;