@if $object-pagination != false and $ui != true {

	.pagination {
		& {
			overflow: hidden;
			margin-bottom: $spacing/2;
			clear: both;
			width: auto;
			text-align: center;
			font-family: map-get($object-pagination-vars, font-family);
			@include rem-fallback(font-size, map-get($object-pagination-vars, font-size) );

		}
		&.right {
			float: right;
		}
		ul {
			word-spacing: inherit !important;
			letter-spacing: inherit !important;
		}
		li {
			display: inline-block;
			padding: 0 1px;
		}
		a {
			& {
				display: block;
				padding: map-get($object-pagination-vars, padding);
				line-height: 100%;
				margin-bottom: $spacing/4;
				text-decoration: none;
				font-weight: map-get($object-pagination-vars, font-weight);
			}
		}
	}
}

@if $object-pagination == default and $ui != true {
	.pagination {
		a {
			& {
				color: map-get($object-pagination-vars, color);
				background-color: map-get($object-pagination-vars, background-color);
				border: map-get($object-pagination-vars, border-width) map-get($object-pagination-vars, border-style) map-get($object-pagination-vars, border-color);
			}
			&:hover {
				background: map-get($object-pagination-vars, background-color-hover);
				color: map-get($object-pagination-vars, color-hover);
			}
		}
		.active {
			a {
				background: map-get($object-pagination-vars, background-color-active);
				color: map-get($object-pagination-vars, color-active);
				font-weight: map-get($object-pagination-vars, font-weight-active);
			}
		}
	}
}