[class*='label--'], .label {
	display: inline-block;
	position: relative;
	white-space: nowrap;
	padding: $spacing/8 $spacing/3;
	border-radius: $default-border-radius;
	font-weight: bold;
	text-align: center;
	margin-bottom: auto;
	vertical-align: baseline;
}


.label {
	background: $color-box;
	color: rgba(contrast-color($color-box), .8);
}

@each $color-name in $color-names {
	.label--#{$color-name} {
		background: map_get($colors, $color-name);
		color: rgba(contrast-color(darken(map_get($colors, $color-name), 10%)), .8);
	}
}