<nav class="pagination">
	<ul>
		<li><a title="First" href="#tab1"><i class="icon-fast-backward"></i></a></li>
		<li><a title="Prev" href="#tab1"><i class="icon-step-backward"></i></a></li>
		<li class="active"><a title="Page 1" href="#tab2">1</a></li>
		<li><a title="Page 2" href="#tab3">2</a></li>
		<li><a title="Page 3" href="#tab3">3</a></li>
		<li><a title="Page 4" href="#tab3">4</a></li>
		<li><a title="Page 5" href="#tab3">5</a></li>
		<li><a title="Page 6" href="#tab3">6</a></li>
		<li><a title="Page 7" href="#tab3">7</a></li>
		<li><a title="Page 8" href="#tab3">8</a></li>
		<li><a title="Page 9" href="#tab3">9</a></li>
		<li><a title="Page 10" href="#tab3">10</a></li>
		<li><a title="Next" href="#tab1"><i class="icon-step-forward"></i></a></li>
		<li><a title="Last" href="#tab1"><i class="icon-fast-forward"></i></a></li>
	</ul>
</nav>