{% set current_children = "Carousel" %}
{% set current_section = "Content" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Carousel</h1>
    <section class="box-ligten">
        <h2>HTML carousel</h2>
        <p>Use this carousel to show any kind of html content.</p>
        {{ demos.demo(
            'carousel-div',
            '../_demos/content/carousel-div.html'
        )}}
    </section>
    <section class="box-ligten">
        <h2>Video carousel</h2>
        <p>Use this carousel to display online videos.</p>
        {{ demos.demo(
            'carousel-video',
            '../_demos/content/carousel-video.html'
        )}}
    </section>
    {{ demos.settings(
    {
        "1" : {
            "name" :        "data-tc-items",
            "description" : "The number of items you want to see on the screen.",
            "default" : "1"
    },
        "2" : {
            "name" :        "data-tc-nav",
            "description" : "Show next/prev buttons.",
            "default" : "true"
    },
        "3" : {
            "name" :        "data-tc-margin",
            "description" : "margin-right(px) on item",
            "default" : "10"
    },
        "5" : {
            "name" :        "data-tc-video",
            "description" : "Enable fetching YouTube/Vimeo videos.",
            "default" : "true"
    },
        "9" : {
            "name" :        "data-tc-video-width",
            "description" : "Width of the videos.",
            "default" : "100%"
    },
        "10" : {
            "name" :        "data-tc-video-height",
            "description" : "Height of the videos.",
            "default" : "300"
    },
        "6" : {
            "name" :        "data-tc-center",
            "description" : "Center item. Works well with even an odd number of items.",
            "default" : "true"
    },
        "7" : {
            "name" :        "data-tc-autoplay",
            "description" : "Autoplay",
            "default" : "true"
    },
        "8" : {
            "name" :        "data-tc-device-items",
            "description" : "The number of items you want to see on the screen separated by coma. First number is on mobile, second on tablet and third in desktop.",
            "default" : "1,1,1"
    }
    }
    )}}
{% endblock %}