{% set current_children = "Ratings" %}
{% set current_section = "Content" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-css fz-xl va-m">CSS</span> Ratings</h1>
    <p>You can set the scale of you ratings overwriting the var '$default-rank-max'. By default the value is 5.</p>
    {{ demos.demo(
        'simple-ratings',
        '../_demos/content/rating-simple.html'
    )}}
{% endblock %}