{% set current_children = "Toggle" %}
{% set current_section = "Content" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <section class="box-lighten">
        <h2>Toggle Slide</h2>
        <p>Shows or hide element specified on href</p>
        {{ demos.demo(
            'toggle-slide',
            PathComponents ~ 'toggle/html/toggle-slide.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Toggle Class</h2>
        <p>Toggle class name to href element</p>
        {{ demos.demo(
            'toggle-class',
            PathComponents ~ 'toggle/html/toggle-class.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Toggle Animation</h2>
        <p>Toggle animation to href element based on <a href="http://daneden.github.io/animate.css/" target="_blank">animate.css</a></p>
        {{ demos.demo(
            'toggle-animation',
            PathComponents ~ 'toggle/html/toggle-animation-attention.html'
        )}}
    </section>

    {{ demos.settings(
    {
        "1" : {
            "name" :        "href",
            "description" : "The href of the link will be an anchor to the menu."
        },
        "2" : {
            "name" :        "data-fc-class",
            "description" : "Sets the classname to toggle.",
        },
        "3" : {
            "name" :        "data-fc-animation",
            "description" : "Sets the animation type to the target element. Possible values (with -in, -out, -up, -down, -right or -left): 'flash', 'bounce', 'shake', 'tada', 'pulse', 'rubberband', 'fade', 'swing', 'tada', 'wobble', 'flip', 'rotate', 'slide', 'hinge', 'roll'",
        }
    }
    )}}
{% endblock %}
