<!-- Bounce -->
<a href="#toggle-animation-attention" data-fc-modules="toggle" data-fc-animation="bounce" class="button">bounce</a>

<!-- flash -->
<a href="#toggle-animation-attention" data-fc-modules="toggle" data-fc-animation="flash" class="button">flash</a>

<!-- pulse -->
<a href="#toggle-animation-attention" data-fc-modules="toggle" data-fc-animation="pulse" class="button">pulse</a>

<!-- rubberband -->
<a href="#toggle-animation-attention" data-fc-modules="toggle" data-fc-animation="rubberband" class="button">rubberband</a>

<!-- shake -->
<a href="#toggle-animation-attention" data-fc-modules="toggle" data-fc-animation="shake" class="button">shake</a>

<!-- tada -->
<a href="#toggle-animation-attention" data-fc-modules="toggle" data-fc-animation="tada" class="button">tada</a>

<!-- wobble -->
<a href="#toggle-animation-attention" data-fc-modules="toggle" data-fc-animation="wobble" class="button">wobble</a>


<!-- Target element -->
<div class="pa-l ta-c">
    <p class="fz-h1" id="toggle-animation-attention">Hello World!</p>
</div>

