.header {
	background-image: url("/static/img/space.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: $color-background;
	min-height: 91px;
}

html {
	background-image: url("/static/img/bg-space.jpg");
	background-size: cover;
	background-repeat: repeat-y;
}