.form-search {
	& {
		@extend %field;
		position: relative;
		overflow: hidden;
		padding: 0;
	}
	input[type='text'] {
		border: none;
		width: 100%;
	}
	button {
		& {
			position: absolute;
			top: -1px;
			right: -1px;
			padding: $spacing/4;
			margin: 0;
		}
		[class^='icon-'] {
			margin-right: 0;
		}
	}
}