{% set current_children = "Labels" %}
{% set current_section = "Typography" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Labels</h1>
    <section class="box-lighten">
        <h2>Default Labels</h2>
        {{ demos.demo(
            'labels-default',
            '../_demos/typography/labels-default.html'
        )}}

    </section>
    <section class="box-lighten">
        <h2>Labels with fz modifiers</h2>
        <p>You can use the fz modifiers to change the size of the label</p>
        {{ demos.demo(
            'labels-fz',
            '../_demos/typography/labels-fz.html'
        )}}
    </section>

{% endblock %}