{% set current_children = "Titles" %}
{% set current_section = "Typography" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Titles</h1>
    <section class="box-lighten">
        <h2>Headings</h2>
        {{ demos.demo(
            'titles-h',
            '../_demos/typography/titles-h.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Headings as other Headings</h2>
        <p>Sometimes for SEO reasons you woud need to use another tag than a heading but to maintain the same appearance. For this cases use the fz modifiers:</p>
        {{ demos.demo(
            'titles-fz',
            '../_demos/typography/titles-fz.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Headings with small element</h2>
        {{ demos.demo(
            'titles-small',
            '../_demos/typography/titles-small.html'
        )}}
    </section>
{% endblock %}