.landing {
	& {
		background-color: $color-header;
		background-image: url('/static/img/bg-landing.jpg');
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: cover;
		color: $color-background;
		min-height: 500px;
		max-width: 100%;
		overflow: hidden;
	}

	h2 {
		font-weight: bold !important;
		font-size: $font-size-xxxl !important;
		color: $color-primary;
	}

	.fz-s {
		font-family: $font-face-default;
	}
}
