{% set current_children = "Circle Images" %}
{% set current_section = "Media" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <section class="box-lighten">
        <h2>Circles on images</h2>
        <p>By default there is no border but you can use the bd modifiers to define the width of the border.</p>
        {{ demos.demo(
        'circle-image',
        PathComponents ~ 'image-circle/html/circle-image.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Circles on links with images inside</h2>
        <p>By default there is no border but you can use the bd modifiers to define the width of the border.</p>
        {{ demos.demo(
        'link-image',
        PathComponents ~ 'image-circle/html/circle-link.html'
        )}}
    </section>
{% endblock %}
