{% set current_children = "Polaroid Images" %}
{% set current_section = "Media" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Polaroid Images</h1>
    <section class="box-lighten">
        <h2>Polaroid on images</h2>
        <p>By default there is no rotation but you can use the trf-r modifiers to define it.</p>
        {{ demos.demo(
            'polaroid-image',
            '../_demos/media/polaroid-image.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Polaroid on links with images inside</h2>
        <p>By default there is no rotation but you can use the trf-r modifiers to define it.</p>
        {{ demos.demo(
            'polaroid-link',
            '../_demos/media/polaroid-link.html'
        )}}
    </section>
{% endblock %}
