{% set current_children = "Download" %}
{% set current_section = "Setup" %}
{% set relative_path = "../" %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Download Frontendcore {{ version }}</h1>
    <p>Depending on what are you goint to build is better to use one package or another, check the packages available and download or install what match more with your needs.</p>
<div class="box-background">
    <div class="grid">
        <div class="col-1-4">
            <a href="installation.html" class="button-ok button-fat ta-c w-100">Install SCSS, JS & Workspace</a>
            <dl class="list">
                <dt class="fz-s">Expertise required</dt>
                <dd><span class="rating-5-5"></span></dd>
                <dt class="fz-s">Recommend for...</dt>
                <dd>Big sites, full customizable projects, teamwork enviroment...</dd>
            </dl>
            <hr/>
            <p class="mb-l">Includes the SCSS files, the JS architecture and components and a yeoman installer that help you to create your a workspace with Grunt & Bower in just minutes.</p>
        </div>
        <div class="col-1-4">
            <a href="/downloads/frontendCoreFull.zip" class="button-primary button-fat ta-c w-100">Download <br/>SCSS & JS</a>
            <dl class="list">
                <dt class="fz-s">Expertise required</dt>
                <dd><span class="rating-4-5"></span></dd>
                <dt class="fz-s">Recommend for...</dt>
                <dd>Big sites, full customizable projects, mockups...</dd>
            </dl>
            <hr/>
            <p class="mb-l">Includes the SCSS files, the JS architecture and components.</p>
        </div>
        <div class="col-1-4">
            <a href="/downloads/frontendCoreScss.zip" class="button-primary button-fat ta-c w-100">Download <br />just SCSS</a>
            <dl class="list">
                <dt class="fz-s">Expertise required</dt>
                <dd><span class="rating-2-5"></span></dd>
                <dt class="fz-s">Recommend for...</dt>
                <dd>Sites without Javascript or totally personalized Javascript.</dd>
            </dl>
            <hr/>
            <p class="mb-l">Includes the SCSS files and all the components that doesn't require Javascript, but allows you to customize the appearance of everything.</p>
        </div>
        <div class="col-1-4">
            <a href="/downloads/frontendCoreCss.zip" class="button-primary button-fat ta-c w-100">Download <br />just CSS</a>
            <dl class="list">
                <dt class="fz-s">Expertise required</dt>
                <dd><span class="rating-1-5"></span></dd>
                <dt class="fz-s">Recommend for...</dt>
                <dd>Mockups or simple sites without Javascript.</dd>
            </dl>
            <hr/>
            <p class="mb-l">Includes the CSS files. It's not possible to customize anything but you get all the components that doesn't require Javascript and you don't need Sass to compile.</p>
        </div>
    </div>
</div>
    <a href="css.html" class="icon-arrow-right fz-l"> <strong>Setup the CSS</strong></a> <br/><br/>
    <a href="javascript.html" class="icon-arrow-right fz-l"> <strong>Setup the Javascript</strong></a>
{% endblock %}