{% set current_children = "Getting started" %}
{% set current_section = "Setup" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Getting Started</h1>
    <p>First of all the most important thing is to understand what can frontendcore do for you. We know that there are several choices in the market (Bootstrap, foundation) so what's the reason to be of Frontendcore? </p>
    <section class="box-background grid">
        <div class="col-2-3">
            <h2>What is Frontendcore?</h2>
            <p>The idea behind Frontend Core is pretty simple: create a framework providing the most common components and a standard architecture for today and tomorrow. Frontend Core doesn’t reinvent CSS or JS techniques it just adapts some ideas pretty know for all the experts of the each area:</p>
            <div class="grid pt-l">
                <div class="col-1-2">
                    <h2>CSS / HTML</h2>
                    <ul class="list">
                        <li><a class="reference external"
                               href="http://coding.smashingmagazine.com/2011/12/12/an-introduction-to-object-oriented-css-oocss">Object oriented CSS</a>
                        </li>
                        <li><a class="reference external"
                               href="http://bradfrostweb.com/blog/post/atomic-web-design/">Atomic Design</a></li>
                        <li><a class="reference external"
                               href="https://www.lucidchart.com/techblog/2014/01/31/atomic-css-tool-set/">Atomic CSS</a></li>
                        <li><a class="reference external"
                               href="https://code.google.com/p/zen-coding/wiki/ZenCSSPropertiesEn">Zen Coding</a></li>
                        <li><a class="reference external"
                               href="http://csswizardry.com/2012/04/the-single-responsibility-principle-applied-to-css/">The Single Responsability principle</a>
                        </li>
                    </ul>
                </div>
                <div class="col-1-2">
                    <h2>Javascript</h2>
                    <ul class="list">
                        <li><a class="reference external" href="http://requirejs.org/">Require JS</a></li>
                        <li><a class="reference external" href="http://requirejs.org/docs/whyamd.html">AMD Modules</a></li>
                        <li><a class="reference external"
                               href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_data_attributes">Data attributes</a>
                        </li>
                        <li><a class="reference external"
                               href="http://www.youtube.com/watch?v=mKouqShWI4o">Scalable JavaScript Application Architecture</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p>All this staff is just theory and when you try to combine all you will find that there is a to of work in front of you. That’s what Frontend Core can do for you, translate the <strong>“ideal” way of work to the real world.</strong></p>
            <p>But Frontendcore can do even more for you because provides you a <strong>huge list of objects, components and plugins ready to use</strong> in your projects. All totally configurable and <strong>100% responsive.</strong></p>
        </div>
        <div class="col-1-3">
            <img src="../static/img/HTML5-CSS3-JS.png" class="w-90 mb-l"/>
            <img src="../static/img/solar-system.jpg" class="w-90" />
        </div>
    </section>
{% endblock %}