{% set current_children = "Installation" %}
{% set current_section = "Setup" %}
{% set relative_path = "../" %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Frontendcore Installation</h1>
    <p>Congratulations! You've choose the best option to work with frontendcore, just follow the following steps to install.</p>
<div class="box-background">
    <ol class="list">
        <li>First of all, <a class="reference external" href="http://sass-lang.com/install">Install Ruby &amp; Sass</a></li>
        <li>Install the version 1.0 of Compass:<br/>
            <code data-tc-modules="code" class="d-ib mt-s mb-l mt-s mb-l" style="vertical-align: middle;">
                gem install compass
            </code>
        </li>
        <li>Install Susy:<br/>
            <code data-tc-modules="code" class="d-ib mt-s mb-l" style="vertical-align: middle;">
                gem install susy
            </code>
        </li>
        <li>Install <a class="reference external" href="http://nodejs.org">NodeJS</a> on your computer</li>
        <li>Run the terminal or cmd and Install <a class="reference external" href="http://yeoman.io">Yeoman</a><br/>
            <code data-tc-modules="code" class="d-ib mt-s mb-l" style="vertical-align: middle;">
                npm install -g yo
            </code>
        </li>
        <li>In the terminal, go to the folder you want to install Frontendcore and install the <a class="reference external" href="https://www.npmjs.org/package/generator-frontendcore">generator-frontendcore</a> (an assistant to install frontendcore in your computer).
            <br/><code data-tc-modules="code" class="d-ib mt-s mb-l" style="vertical-align: middle;">
                npm install generator-frontendcore
            </code>
        </li>
        <li>Now you will have all the stuff installed. To be sure, check if you have following folders on your computer:<br/>
            <pre><code data-tc-modules="code" class="d-ib mt-s mb-l" style="vertical-align: middle;">static
    components
    css
    fonts
    js            </code></pre>
            <p class="msg-info">Also you will have a folder called node_modules at the same level than static. Remember to ignore this on Git or SVN when you commit your code (this is only necessary on development enviroments).</p>
        </li>
        <li>
            Congratulations! Now just execute "grunt" to compile the SCSS, test the Javascript or "grunt Watch" to compile when you change something.
        </li>
    </ol>
</div>
{% endblock %}