{% set current_children = "Side Menu" %}
{% set current_section = "Navigation" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-css fz-xl va-m">CSS</span> <span class="label-js fz-xl va-m">JS</span> Side Menu</h1>
    <p>The easiest way for doing your menu responsive.</p>
    <section class="box-lighten">
        <h2>Side menu on the left</h2>
        {{ demos.demo(
            'side-menu-1',
            '../_demos/navigation/sidemenu-left.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Side menu on the right</h2>
        {{ demos.demo(
            'side-menu-2',
            '../_demos/navigation/sidemenu-right.html'
        )}}
    </section>
    {{ demos.settings(
        {
            "href" : {
                "name" :        "href",
                "description" : "The href of the link will be an anchor to the menu."
            },
                "data-fc-position" : {
                "name" :        "data-fc-position",
                "description" : "Define the left or right position for the panel.",
                "default" :     "left"
            },
                "data-fc-width" : {
                "name" :        "data-fc-width",
                "description" : "Define the width for the panel.",
                "default" :     "15.6em"
            },
                "data-fc-class" : {
                "name" :        "data-fc-class",
                "description" : "Add a class to the panel container",
                "default" :     "side-panel-default"
            },
                "data-fc-clone" : {
                "name" :        "data-fc-clone",
                "description" : "If you set this to true the content inside the panel should be a clone of the original. This is very useful to create sidemenus using the same menu of desktop, because the copy ignores the desktop, mobile and tablet classes.",
                "default" :     "false"
            }
        }
    )}}

{% endblock %}