{% set current_children = "Steps" %}
{% set current_section = "Navigation" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Steps</h1>
    {{ demos.demo(
        'steps',
        '../_demos/steps/steps.html'
    )}}
{% endblock %}
