.tooltipster-sidetip {
  .tooltipster-box {
    background: map_get($object-tip-vars, background);
    box-shadow: map_get($object-tip-vars, box-shadow);
    border-radius: map_get($object-tip-vars, border-radius);
    border: 1px solid rgba($color-background, .5);
  }
  &.tooltipster-bottom .tooltipster-box {
    margin-top: 8px;
  }
  &.tooltipster-left .tooltipster-box {
    margin-right: 8px;
  }
  &.tooltipster-right .tooltipster-box {
    margin-left: 8px;
  }
  &.tooltipster-top .tooltipster-box {
    margin-bottom: 8px;
  }
  .tooltipster-content {
    color: map_get($object-tip-vars, color);
    font-size:  map_get($object-tip-vars, font-size);
    line-height: 110%;
    padding: map_get($object-tip-vars, padding);
  }
  .tooltipster-arrow {
    overflow: hidden;
    position: absolute;
  }
  &.tooltipster-bottom .tooltipster-arrow {
    height: 9px;
    margin-left: -9px;
    top: 0;
    width: 20px;
  }
  &.tooltipster-left .tooltipster-arrow {
    height: 20px;
    margin-top: -9px;
    right: 0;
    top: 0;
    width: 9px;
  }
  &.tooltipster-right .tooltipster-arrow {
    height: 20px;
    margin-top: -9px;
    left: 0;
    top: 0;
    width: 9px;
  }
  &.tooltipster-top .tooltipster-arrow {
    bottom: 0;
    height: 9px;
    margin-left: -9px;
    width: 20px;
  }
  .tooltipster-arrow-background, .tooltipster-arrow-border {
    height: 0;
    position: absolute;
    width: 0;
  }
  .tooltipster-arrow-background {
    border: 9px solid transparent;
  }
  &.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: map_get($object-tip-vars, background);
    left: 0;
    top: 1px;
  }
  &.tooltipster-left .tooltipster-arrow-background {
    border-left-color: map_get($object-tip-vars, background);
    left: -1px;
    top: 0;
  }
  &.tooltipster-right .tooltipster-arrow-background {
    border-right-color: map_get($object-tip-vars, background);
    left: 1px;
    top: 0;
  }
  &.tooltipster-top .tooltipster-arrow-background {
    border-top-color: map_get($object-tip-vars, background);
    left: 0;
    top: -1px;
  }
  .tooltipster-arrow-border {
    border: 9px solid transparent;
    left: 0;
    top: 0;
  }
  &.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: darken(map_get($object-tip-vars, background), 10%);
  }
  &.tooltipster-left .tooltipster-arrow-border {
    border-left-color: darken(map_get($object-tip-vars, background), 10%);
  }
  &.tooltipster-right .tooltipster-arrow-border {
    border-right-color: darken(map_get($object-tip-vars, background), 10%);
  }
  &.tooltipster-top .tooltipster-arrow-border {
    border-top-color: darken(map_get($object-tip-vars, background), 10%);
  }
  .tooltipster-arrow-uncropped {
    position: relative;
  }
  &.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -9px;
  }
  &.tooltipster-right .tooltipster-arrow-uncropped {
    left: -9px;
  }
}