
[class*='lightcase-icon-']:before {
  font-style: normal;
  font-weight: normal;
  speak: none;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: .9em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 100%;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* Codes */
.lightcase-icon-play:before { @extend %icon-play !optional;}
.lightcase-icon-pause:before { @extend %icon-pause !optional;}
.lightcase-icon-close:before { @extend %icon-times;  }
.lightcase-icon-prev:before { @extend %icon-chevron-left; }
.lightcase-icon-next:before { @extend %icon-chevron-right; }
.lightcase-icon-spin:before { @extend %icon-circle-o-notch !optional;}