.markdown {
	& {
		background: $color-text-background;
		padding: $spacing;
		margin-bottom: $spacing;
	}
	%limarkdown {
		margin-bottom: $spacing/2;
		margin-left: $spacing;
		list-style-position: inside;
	}

	ol li {
		@extend %limarkdown;
		list-style: decimal;
	}
	ul li {
		@extend %limarkdown;
		list-style: disc;
	}
	@include box-shadow;
}
