{% set current_children = "Global Settings" %}
{% set current_section = "Architecture JS" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-js fz-xl va-m">JS</span> Global Settings</h1>
    <p> The Global Settings are the Vars you need to personalize for each project.
        Most of them are Paths to found files but there are also some general options. This is because core.js will access them, but it's not necessary to define them because all they have default values</p>
    <p class="msg-warning">        <strong>You must declare them before the inclusion of the "core.js" file</strong> between script tags in your head.</p>
    <p>These are the settings you can personalize and the default values:</p>
    <pre><code data-tc-modules="code">var oGlobalSettings = {
    // Defines the path of the Javascript
    sPathJs : '/js/',

    // Defines the path of the Javascript Core path (Where the core.js can be found)
    sPathJsCore: oGlobalSettings.sPathJs + '../../',

    // Defines the path where the Javascript Modules can be found
    sPathJsModules : oGlobalSettings.sPathJs + 'modules',

    // Defines the path where the Javascript Libs can be found
    sPathJsLibs : oGlobalSettings.sPathJs + '../../',

    // Defines the path where the CSS files can be found
    sPathCss: './css/',

    // Defines the path where the ui.css file can be found
    sPathCssUi: oGlobalSettings.sPathCss + 'ui.css',

    // Sends google analytics a call to get starts of calls an executions of the modules
    bTrackModules: false,

    // Defines the hash used to call all the static files ( example.js?v=). This is to avoid browser cache. The ideal is to update this number each deploy you do.
    sHash: '1',

    // Add or overwrite definitions to the RequireJS modules config. You can for example concatenate modals and tips and define modals and tips as a same file to avoid too many http requests.
    oPaths: {},

    // Set this to force always the mobile or desktop Javascript mode
    sDevice: isMobile.any() ? 'mobile' : 'desktop',

    // Activate or deactivate the responsive images module
    bResponsiveImages: true,
}</code></pre>
{% endblock %}
