{% set current_children = "Tools" %}
{% set current_section = "Architecture JS" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-js fz-xl va-m">JS</span> Tools</h1>
    <p>The tools provides you some very common functions you will use in your modules</p>
    <section class="box-background">
        <h2>FrontendTools.getDataModules</h2>
        <p>Returns an array of all the DOM elements with te data-fc-modules attributes as sData.</p>
        <pre><code data-fc-modules="code">{% include "../../js/tools/_getDataModules.js"|e('js')  %}</code></pre>
    </section>
    <section class="box-background">
        <h2>FrontendTools.loadCSS</h2>
        <p>Attach the sPathCss to the dom if it's not already attached.</p>
        <pre><code data-fc-modules="code">{% include "../../js/tools/_loadCSS.js"|e('js') %}</code></pre>
    </section>
    <section class="box-background">
        <h2>Remove Loading class from an object</h2>
        <p>To remove the loading class once the module is initialized</p>
        <pre><code data-fc-modules="code">{% include "../../js/tools/_removeLoading.js"|e('js')  %}</code></pre>
    </section>
    <section class="box-background">
        <h2>FrontendTools.mergeJSON</h2>
        <p>Merges to JSON into one overwriting the first with the second.</p>
        <pre><code data-fc-modules="code">{% include "../../js/tools/_mergeJSON.js"|e('js')  %}</code></pre>
    </section>
    <section class="box-background">
        <h2>FrontendTools.attributeToArray</h2>
        <p>Gets a string sepparated by comma or a string with an array format and returns an array</p>
        <pre><code data-fc-modules="code">{% include "../../js/tools/_attributeToArray.js"|e('js')  %}</code></pre>
    </section>
    <section class="box-background">
        <h2>Track to Google Analytics</h2>
        <p>To avoid dependencies from the api of google analytics use this wrapper to send your trackings.</p>
        <pre><code data-fc-modules="code">{% include "../../js/tools/_track-analytics.js"|e('js')  %}</code></pre>
    </section>
{% endblock %}