<section data-fc-modules="carousel" data-fc-center="false" data-fc-items-width="200">
	<article class="box mb-n" style="height: 250px;">
		<h1>1</h1>
	</article>
	<article class="box mb-n" style="height: 250px;">
		<h1>2</h1>
	</article>
	<article class="box mb-n" style="height: 250px;">
		<h1> 3</h1>
	</article>
	<article class="box mb-n" style="height: 250px;">
		<h1>4</h1>
	</article>
	<article class="box mb-n" style="height: 250px;">
		<h1>5</h1>
	</article>
	<article class="box mb-n" style="height: 250px;">
		<h1>6</h1>
	</article>
</section>