<div class="mb-l">
    <h4>JUST TEXT</h4>
    <button type="submit" class="button large">.button</button>
    <button type="submit" class="button-main large">.button-main</button>
    <button type="submit" class="button-alt large">.button-alt</button>
    <button type="submit" class="button-ok large">.button-ok</button>
    <button type="submit" class="button-ko large">.button-ko</button>
</div>
<div class="mb-l">
    <h4>TEXT & ICON</h4>
    <button type="submit" class="button large"><i class="icon-pencil"></i> Edit</button>
    <button type="submit" class="button-main large"><i class="icon-facebook"></i> Go to facebook</button>
    <button type="submit" class="button-alt large"><i class="icon-picture-o"></i> View picture</button>
    <button type="submit" class="button-ok large"><i class="icon-download"></i> Download</button>
    <button type="submit" class="button-ko large"><i class="icon-times"></i> Delete</button>
</div>

<div class="mb-l">
    <h4>JUST ICON</h4>
    <button type="submit" class="button large icon-pencil"></button>
    <button type="submit" class="button-main large icon-facebook"></button>
    <button type="submit" class="button-alt large icon-picture-o"></button>
    <button type="submit" class="button-ok large icon-download"></button>
    <button type="submit" class="button-ko large icon-times"></button>
</div>