{% set current_children = "Media Queries" %}
{% set current_section = "Architecture CSS" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-css fz-xl va-m">CSS</span> Media Queries</h1>
    <p>If you install frontendcore using the Yeoman installation you will have available the following breakpoints:</p>
    <img src="/static/img/mediaqueries.png" />
    <p>Frontendcore proposes you a media-query system based on mixins that will allow you to have <strong>all the code
    of your objects in the same .scss file but the media-queries will be declared just once</strong> at the bottom of your css file.
    This is very important because you will generate less code that if you open and close the media-query each time you need to declare
    something specific for any device, but providing you the control of all the variations of the object.</p>
    <p>For example, if we have an object box and in his mobile first version the margins are the padding are defined as small:</p>
    <pre><code data-fc-modules="code">{% include "../_demos/architecture-css/media-query-object.scss" %}</code></pre>
    <p>Then, on the same file just after our object, we must create a mixin with the variations of the object for big devices:</p>
    <pre><code data-fc-modules="code">{% include "../_demos/architecture-css/media-query-mixin.scss" %}</code></pre>
    <p>Finally in a folder called devices (if you are using the Frontendcore installation, you already have it), we will create the media-queries and add the mixin:</p>
    <pre><code data-fc-modules="code">{% include "../_demos/architecture-css/media-query-desktop.scss" %}</code></pre>
    <p>You can create as many breakpoints as you need, and it's posible than one mixin could be used to create different variants depending on the breakpoint. Following with the same exaample, if we just add some parameters to the mixin we can get something like this:</p>
    <pre><code data-fc-modules="code">{% include "../_demos/architecture-css/media-query-parameters.scss" %}</code></pre>
    <div class="msg-warning">
        <p>The objects included in Frontendcore has some variants based on media query. If you are not using the Frontendcore installation through Yeoman you must include the general mixins:</p>
        <pre><code data-fc-modules="code">@include mobile-core;</code></pre>
        <pre><code data-fc-modules="code">@include tablet-core;</code></pre>
        <pre><code data-fc-modules="code">@include desktop-core;</code></pre>
    </div>
{% endblock %}
