{% set current_children = "Sassdoc" %}
{% set current_section = "Architecture CSS" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-css fz-xl va-m">CSS</span> Sassdoc</h1>
    <p>Here you have the Sassdoc with all the variables, functions & mixins explained. We strongly recommend you to <a href="../sassdoc/index.html" target="_blank"> open it in a new page.</a></p>
    <div class="box-lighten">
        <iframe src="../sassdoc/index.html" width="100%" height="550px" frameborder="0"></iframe>
    </div>
{% endblock %}sd