.loading {
  min-height: 200px;
  position: relative;
  @include loading();
  *  {
    display: none !important;
  }
  &._small {
    &:before {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}
