@mixin flex-container( $direction: column, $justify: center, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: nowrap;
  justify-content: $justify;
  align-items: $align;
}