@mixin loading($color-base: #000, $big-width: 50px, $small-width: 25px, $border-type: solid) {
  &:after, &:before {
    content:" " !important;
    border-radius: 50% !important;
    border-width: 3px !important;
    border-style: $border-type !important;
    font-size: 1rem  !important;
    display: block  !important;
    text-align: center  !important;
    background: transparent !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-style: normal !important;
    position: absolute !important;
    overflow: hidden !important;
    line-height: 100% !important;
    left: 50%;
    top: 50%;
    width: $big-width!important;
    height: $big-width!important;
    margin-left: -($big-width/2) !important;
    margin-top: -($big-width/2) !important;
  }
  &:before {
    border-color: rgba($color-base,.48) rgba($color-base,.45) rgba($color-base,.42) rgba($color-base,.39) !important;
    animation: spin-reverse 2s infinite linear !important;
  }
  @if ( $small-width != 0) {
    &:after {
      border-color: transparent transparent transparent $color-primary !important;
      animation: spin 2s infinite linear !important;
    }
  } @else {
    &:after {
      display: none !important;
    }
  }
  &._small {
    &:before, &:after {
      width: $small-width !important;
      height: $small-width !important;
      margin-left: -($small-width/2) !important;
      margin-top: -($small-width/2) !important;
    }
  }
}
