$palette: 'positive' !global !default;

@if $palette == 'negative' {
	$colors-default: (
			foreground: #FFF,
			foreground-light: #9b9b9b,
			foreground-dark: auto,
			background: #000,
			background-light: auto,
			background-dark: auto,
			body: #000,
			primary: #E01885,
			primary-light: auto,
			primary-dark: #8C124C,
			secondary: #707070,
			secondary-light: auto,
			secondary-dark: auto,
			link: #E01885,
			link-hover: #8C124C,
			link-hover-background: transparent,
			box: #f4f2f2,
			box-light: auto,
			box-dark: auto,
			megacontrast: #000,
			header-background: #93b7c3,
			rank: #FCCB04,
			info: #1E72A6,
			ok: #879436,
			ko: #b32d20,
			warning: #DFB84F,
			input-focus: #ffffea
	) !global;

} @else {
	$colors-default: (
			foreground: #424242,
			foreground-light: #9b9b9b,
			foreground-dark: auto,
			background: #fdfdfd,
			background-light: auto,
			background-dark: auto,
			body: #E6E9EA,
			primary: #E01885,
			primary-light: auto,
			primary-dark: #8C124C,
			secondary: #707070,
			secondary-light: auto,
			secondary-dark: auto,
			link: #E01885,
			link-hover: #8C124C,
			link-hover-background: transparent,
			box: #f4f2f2,
			box-light: auto,
			box-dark: auto,
			megacontrast: #000,
			header-background: #93b7c3,
			rank: #FCCB04,
			info: #1E72A6,
			ok: #879436,
			ko: #b32d20,
			warning: #DFB84F,
			input-focus: #ffffea
	) !global;

}

