.navigation {
	& {
		@extend %navigation;
		border-radius: map-get($object-navigation-vars, border-radius);
		font-size: map-get($object-navigation-vars, font-size);
	}
	ul{
		display: flex;
		flex-flow: row wrap;
		margin-bottom: 0;
		padding: 0;
	}
	li{
		flex: 1 1 100%;
		position: relative;
	}
	.toggle{
		width: 2rem;
		position: absolute;
		right: 0;
		top:0;
		margin: 0;
		padding-right: 0;
		padding-left: 0;
		font-size: $font-size-m;
		text-align: center;
	}
	/*start deeper levels*/
	>ul ul{
		display: none;
		overflow: hidden;
		&.swish{
			display: flex;
		}
	}
	>ul > li > ul{
		li{
			text-align: left;
		}
		a{
			padding: $spacing/4 $spacing/2 $spacing/8 $spacing*1.5;
			color: contrast-color($color-background);
		}
	}
	>ul > li > ul > li > ul{
		li{
			font-size: map-get($object-navigation-vars, font-size) * .85;
		}
		a{
			padding: $spacing/8 $spacing/4 $spacing/8 $spacing*2;
		}
	}
	/*end deeper levels*/

	a {
		font-family: map-get($object-navigation-vars, font-family);
		font-weight: map-get($object-navigation-vars, font-weight);
		text-rendering: optimizeLegibility;
		border-radius: map-get($object-navigation-vars, border-radius);
		text-transform: map-get($object-navigation-vars, text-transform);
	}
	&._vertical {
		& {
			@extend %navigation-vertical;
		}
		& > ul > li {
			@if (map-get($object-navigation-vars, vertical-separator) == true) {
				border-bottom: 1px solid rgba(contrast-color(map-get($object-navigation-vars, background-color), $color-foreground, $color-background), .2);
			}
		}
	}
	&._border{
		>ul > li{
			border-bottom: 1px solid rgba($color-foreground-light,.3);
		}
	}
	&._contained{
		>ul{
			max-width: map-get($grid, container-width);
			margin: auto;
			position: relative;
		}
	}
	$local-color-names: 'foreground','background','primary','secondary','box';
	@each $color-name in $local-color-names {
		&._#{$color-name} {
			&, a {
				color: contrast-color(map_get($colors, $color-name));
			}
			& {
				background: map_get($colors, $color-name);
			}
			a {
				&:hover {
					text-decoration: none;
					background: rgba(contrast-color(map_get($colors, $color-name)), .08);
				}
			}
			li.active {
				a {
					& {
						background: rgba(contrast-color(map_get($colors, $color-name), $color-background, $color-foreground), .2);
						color: contrast-color(map_get($colors, $color-name));
					}
					&:before {
						color: rgba(contrast-color(map_get($colors, $color-name)), .5) !important;
					}
				}
			}
			&.navigation--vertical {
				& > ul {
					& > li {
						& > a {
							padding: $spacing/2;
						}
					}
					ul {
						margin-bottom: $spacing/2;
					}
				}

			}
		}
	}

}