<div class="row">
    <div class="col">
        <div class="box">1</div>
    </div>
    <div class="col">
        <div class="box">2</div>
    </div>
    <div class="col">
        <div class="box">3</div>
    </div>
    <div class="col">
        <div class="box">4</div>
    </div>
    <div class="col">
        <div class="box">5</div>
    </div>
    <div class="col">
        <div class="box">6</div>
    </div>
    <div class="col">
        <div class="box">7</div>
    </div>
    <div class="col">
        <div class="box">8</div>
    </div>
    <div class="col">
        <div class="box">9</div>
    </div>
    <div class="col">
        <div class="box">10</div>
    </div>
    <div class="col">
        <div class="box">11</div>
    </div>
    <div class="col">
        <div class="box">12</div>
    </div>
</div>


<div class="row">
    <div class="col-1">
        <div class="box">1</div>
    </div>
    <div class="col-1">
        <div class="box">2</div>
    </div>
    <div class="col-1">
        <div class="box">3</div>
    </div>
    <div class="col-1">
        <div class="box">4</div>
    </div>
    <div class="col-1">
        <div class="box">5</div>
    </div>
    <div class="col-1">
        <div class="box">6</div>
    </div>
    <div class="col-1">
        <div class="box">7</div>
    </div>
    <div class="col-1">
        <div class="box">8</div>
    </div>
    <div class="col-1">
        <div class="box">9</div>
    </div>
    <div class="col-1">
        <div class="box">10</div>
    </div>
    <div class="col-1">
        <div class="box">11</div>
    </div>
    <div class="col-1">
        <div class="box">12</div>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <div class="box">1</div>
    </div>
    <div class="col-1">
        <div class="box">2</div>
    </div>
    <div class="col-1">
        <div class="box">3</div>
    </div>
    <div class="col-1">
        <div class="box">4</div>
    </div>
    <div class="col-1">
        <div class="box">5</div>
    </div>
    <div class="col-1">
        <div class="box">6</div>
    </div>
    <div class="col-1">
        <div class="box">7</div>
    </div>
    <div class="col-1">
        <div class="box">8</div>
    </div>
    <div class="col-1">
        <div class="box">9</div>
    </div>
    <div class="col-1">
        <div class="box">10</div>
    </div>
    <div class="col-1">
        <div class="box">11</div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="box">1</div>
    </div>
    <div class="col-1">
        <div class="box">2</div>
    </div>
    <div class="col-1">
        <div class="box">3</div>
    </div>
    <div class="col-1">
        <div class="box">4</div>
    </div>
    <div class="col-1">
        <div class="box">5</div>
    </div>
    <div class="col-1">
        <div class="box">6</div>
    </div>
    <div class="col-1">
        <div class="box">7</div>
    </div>
    <div class="col-1">
        <div class="box">8</div>
    </div>
    <div class="col-1">
        <div class="box">9</div>
    </div>
    <div class="col-1">
        <div class="box">10</div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="box">1</div>
    </div>
    <div class="col-1">
        <div class="box">2</div>
    </div>
    <div class="col-1">
        <div class="box">3</div>
    </div>
    <div class="col-1">
        <div class="box">4</div>
    </div>
    <div class="col-1">
        <div class="box">5</div>
    </div>
    <div class="col-1">
        <div class="box">6</div>
    </div>
    <div class="col-1">
        <div class="box">7</div>
    </div>
    <div class="col-1">
        <div class="box">8</div>
    </div>
    <div class="col-1">
        <div class="box">9</div>
    </div>
</div>

<div class="row">
    <div class="col-5">
        <div class="box">1</div>
    </div>
    <div class="col-1">
        <div class="box">2</div>
    </div>
    <div class="col-1">
        <div class="box">3</div>
    </div>
    <div class="col-1">
        <div class="box">4</div>
    </div>
    <div class="col-1">
        <div class="box">5</div>
    </div>
    <div class="col-1">
        <div class="box">6</div>
    </div>
    <div class="col-1">
        <div class="box">7</div>
    </div>
    <div class="col-1">
        <div class="box">8</div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="box">1</div>
    </div>
    <div class="col-1">
        <div class="box">2</div>
    </div>
    <div class="col-1">
        <div class="box">3</div>
    </div>
    <div class="col-1">
        <div class="box">4</div>
    </div>
    <div class="col-1">
        <div class="box">5</div>
    </div>
    <div class="col-1">
        <div class="box">6</div>
    </div>
    <div class="col-1">
        <div class="box">7</div>
    </div>
</div>

<div class="row">
    <div class="col-7">
        <div class="box">1</div>
    </div>
    <div class="col-1">
        <div class="box">2</div>
    </div>
    <div class="col-1">
        <div class="box">3</div>
    </div>
    <div class="col-1">
        <div class="box">4</div>
    </div>
    <div class="col-1">
        <div class="box">5</div>
    </div>
    <div class="col-1">
        <div class="box">6</div>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <div class="box">1</div>
    </div>
    <div class="col-1">
        <div class="box">2</div>
    </div>
    <div class="col-1">
        <div class="box">3</div>
    </div>
    <div class="col-1">
        <div class="box">4</div>
    </div>
    <div class="col-1">
        <div class="box">5</div>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <div class="box">1</div>
    </div>
    <div class="col-1">
        <div class="box">2</div>
    </div>
    <div class="col-1">
        <div class="box">3</div>
    </div>
    <div class="col-1">
        <div class="box">4</div>
    </div>
</div>

<div class="row">
    <div class="col-10">
        <div class="box">1</div>
    </div>
    <div class="col-1">
        <div class="box">2</div>
    </div>
    <div class="col-1">
        <div class="box">3</div>
    </div>
</div>

<div class="row">
    <div class="col-11">
        <div class="box">1</div>
    </div>
    <div class="col-1">
        <div class="box">2</div>
    </div>
</div>
