<div class="row">
    <div class="col">
        <div class="box">1</div>
    </div>
    <div class="col">
        <div class="box">2</div>
    </div>
    <div class="col">
        <div class="box">3</div>
    </div>
    <div class="col">
        <div class="box">4</div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="box">1</div>
    </div>
    <div class="col-3">
        <div class="box">3</div>
    </div>
    <div class="col-3">
        <div class="box">4</div>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <div class="box">1</div>
    </div>
    <div class="col-3">
        <div class="box">4</div>
    </div>
</div>
