<div class="row">
    <div class="col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
                1
        </div>
    </div>
    <div class="col-xl-3 col-l-6 col-l-last col-m-6 col-m-last col-s-12">
        <div class="box">
                2
        </div>
    </div>
    <div class="col-xl-3 col-l-6 col-m-12 col-s-12">
        <div class="box">
                3
        </div>
    </div>
    <div class="col-xl-3 col-l-6 col-m-12 col-s-12">
        <div class="box">
                4
        </div>
    </div>
</div>
