<div class="row">
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
                1
        </div>
    </div>
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
                2
        </div>
    </div>
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
                3
        </div>
    </div>
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
                4
        </div>
    </div>
</div>

<div class="row _start">
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
            1
        </div>
    </div>
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
            2
        </div>
    </div>
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
            3
        </div>
    </div>
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
            4
        </div>
    </div>
</div>

<div class="row _end">
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
            1
        </div>
    </div>
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
            2
        </div>
    </div>
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
            3
        </div>
    </div>
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
            4
        </div>
    </div>
</div>

<div class="row _around">
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
            1
        </div>
    </div>
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
            2
        </div>
    </div>
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
            3
        </div>
    </div>
    <div class="col-xxxl-3 col-xxl-3 col-xl-3 col-l-6 col-m-6 col-s-12">
        <div class="box">
            4
        </div>
    </div>
</div>