
<div class="row _start">
    <div class="col-1">
        <div class="box">1</div>
    </div>
    <div class="col-1 col-offset-1">
        <div class="box">2</div>
    </div>
    <div class="col-1 col-offset-1">
        <div class="box">3</div>
    </div>
    <div class="col-1 col-offset-1">
        <div class="box">4</div>
    </div>
    <div class="col-1 col-offset-1">
        <div class="box">5</div>
    </div>
    <div class="col-1 col-offset-1">
        <div class="box">6</div>
    </div>
</div>

<div class="row _start">
    <div class="col-2">
        <div class="box">1</div>
    </div>
    <div class="col-2 col-offset-2">
        <div class="box">2</div>
    </div>
    <div class="col-2 col-offset-2">
        <div class="box">3</div>
    </div>
</div>

<div class="row _start">
    <div class="col-3">
        <div class="box">1</div>
    </div>
    <div class="col-3 col-offset-1">
        <div class="box">2</div>
    </div>
    <div class="col-3 col-offset-1">
        <div class="box">3</div>
    </div>
</div>

<div class="row _start">
    <div class="col-10">
        <div class="box">1</div>
    </div>
    <div class="col-1 col-offset-1">
        <div class="box">2</div>
    </div>
</div>

<div class="row _start">
    <div class="col-9">
        <div class="box">1</div>
    </div>
    <div class="col-1 col-offset-2">
        <div class="box">2</div>
    </div>
</div>

<div class="row _start">
    <div class="col-8">
        <div class="box">1</div>
    </div>
    <div class="col-1 col-offset-3">
        <div class="box">2</div>
    </div>
</div>

<div class="row _start">
    <div class="col-7">
        <div class="box">1</div>
    </div>
    <div class="col-1 col-offset-4">
        <div class="box">2</div>
    </div>
</div>

<div class="row _start">
    <div class="col-6">
        <div class="box">1</div>
    </div>
    <div class="col-1 col-offset-5">
        <div class="box">2</div>
    </div>
</div>

<div class="row _start">
    <div class="col-5">
        <div class="box">1</div>
    </div>
    <div class="col-1 col-offset-6">
        <div class="box">2</div>
    </div>
</div>
