<a href="#modal" data-fc-modules="modal">Inline Link</a>
<div class="hidden">
    <div id="modal">
        <a href="#modal-2">
            <img src="http://www.thinkstockphotos.es/CMS/StaticContent/WhyThinkstockImages/Best_Images.jpg" />
        </a>
    </div>
</div>

<a href="#modal-2" data-fc-modules="modal">Inline Link 2</a>
<div class="hidden">
    <div id="modal-2">
        <a href="#modal">
            <img src="http://www.thinkstockphotos.es/CMS/StaticContent/WhyThinkstockImages/Best_Images.jpg" />
        </a>
    </div>
</div>