@mixin phablet-core {

	@if $ui != true {
		.desktop, .tablet, .mobile {
			& {
				display: none;
			}
			&.d-ib, &.d-b {
				display: none !important;
			}
		}
		.phablet {
			& {
				display: block !important;
			}
			&.d-ib, &.inline-block {
				display: inline-block !important;
			}
		}

		td.phablet, th.phablet {
			display: table-cell !important;
		}

		@include mobile-tabs;

		@include phablet-grid;

		@include mobile-header;

		@include mobile-tables;

		@include baby-headings;

	}
}
