<div class="box _background">
    <h4>Default icon buttons</h4>
    <button type="submit" class="button _icon"><i class="icon-pencil"></i> <span>Edit</span></button>
    <button type="submit" class="button _icon _primary"> <i class="icon-facebook"></i> <span>Go to facebook</span></button>
    <button type="submit" class="button _icon _secondary"> <i class="icon-picture-o"></i> <span>View picture</span> </button>
    <button type="submit" class="button _icon _success"><i class="icon-download"></i> <span>Download</span></button>
    <button type="submit" class="button _icon _error"><i class="icon-trash-o"></i> <span>Delete</span></button>
    <button type="submit" class="button _icon _empty"><i class="icon-times"></i> <span>Cancel</span></button>
</div>
<div class="box _background">
    <h4>Large icon buttons</h4>
    <button type="submit" class="button _icon _large"><i class="icon-pencil"></i> <span>Edit</span></button>
    <button type="submit" class="button _icon _large _primary"> <i class="icon-facebook"></i> <span>Go to facebook</span></button>
    <button type="submit" class="button _icon _large _secondary"> <i class="icon-picture-o"></i> <span>View picture</span> </button>
    <button type="submit" class="button _icon _large _success"><i class="icon-download"></i> <span>Download</span></button>
    <button type="submit" class="button _icon _large _error"><i class="icon-trash-o"></i> <span>Delete</span></button>
    <button type="submit" class="button _icon _large _empty"><i class="icon-times"></i> <span>Cancel</span></button>
</div>
<div class="box _background">
    <h4>Small icon buttons</h4>
    <button type="submit" class="button _icon _small"><i class="icon-pencil"></i> <span>Edit</span></button>
    <button type="submit" class="button _icon _small _primary"> <i class="icon-facebook"></i> <span>Go to facebook</span></button>
    <button type="submit" class="button _icon _small _secondary"> <i class="icon-picture-o"></i> <span>View picture</span> </button>
    <button type="submit" class="button _icon _small _success"><i class="icon-download"></i> <span>Download</span></button>
    <button type="submit" class="button _icon _small _error"><i class="icon-trash-o"></i> <span>Delete</span></button>
    <button type="submit" class="button _icon _small _empty"><i class="icon-times"></i> <span>Cancel</span></button>
</div>
