<div class="box--background">
    <h4>Text buttons</h4>
    <button type="submit" class="button">.button</button>
    <button type="submit" class="button--primary">Primary</button>
    <button type="submit" class="button--secondary">Secondary</button>
    <button type="submit" class="button--success">Success</button>
    <button type="submit" class="button--error">Error</button>
    <button type="submit" class="button--empty">Emtpy</button>
</div>

<div class="box--background">
    <h4>Hollow buttons</h4>
    <button type="submit" class="button--hollow">.button</button>
    <button type="submit" class="button--hollow button--primary">Primary</button>
    <button type="submit" class="button--hollow button--secondary">Secondary</button>
    <button type="submit" class="button--hollow button--success">Success</button>
    <button type="submit" class="button--hollow button--error">Error</button>
    <button type="submit" class="button--hollow button--empty">Emtpy</button>
</div>

<div class="box--background">
    <h4>Buttons with icons</h4>
    <button type="submit" class="button"><i class="icon--pencil"></i> Edit</button>
    <button type="submit" class="button--primary"> <i class="icon--facebook"></i> Go to facebook</button>
    <button type="submit" class="button--secondary"> <i class="icon--picture-o"></i>View picture</button>
    <button type="submit" class="button--success"><i class="icon--download"></i> Download</button>
    <button type="submit" class="button--error"><i class="icon--trash-o"></i> Delete</button>
	<button type="submit" class="button--empty"><i class="icon--times"></i> Cancel</button>
</div>