<div class="box _background">
	<h4>Text buttons</h4>
	<button type="submit" class="button _small">.button</button>
	<button type="submit" class="button _small _primary">Primary</button>
	<button type="submit" class="button _small _secondary">Secondary</button>
	<button type="submit" class="button _small _success">Success</button>
	<button type="submit" class="button _small _error">Error</button>
	<button type="submit" class="button _small _empty">Emtpy</button>
</div>

<div class="box _background">
	<h4>Hollow buttons</h4>
	<button type="submit" class="button _small _hollow">.button</button>
	<button type="submit" class="button _small _hollow _primary">Primary</button>
	<button type="submit" class="button _small _hollow _secondary">Secondary</button>
	<button type="submit" class="button _small _hollow _success">Success</button>
	<button type="submit" class="button _small _hollow _error">Error</button>
	<button type="submit" class="button _small _hollow _empty">Emtpy</button>
</div>

<div class="box _background">
	<h4>Buttons with icons</h4>
	<button type="submit" class="button _small"><i class="icon-pencil"></i> Edit</button>
	<button type="submit" class="button _small _primary"> <i class="icon-facebook"></i> Go to facebook</button>
	<button type="submit" class="button _small _secondary"> <i class="icon-picture-o"></i>View picture</button>
	<button type="submit" class="button _small _success"><i class="icon-download"></i> Download</button>
	<button type="submit" class="button _small _error"><i class="icon-trash-o"></i> Delete</button>
	<button type="submit" class="button _small _empty"><i class="icon-times"></i> Cancel</button>
</div>