<div class="box--background">
    <h4>Text buttons</h4>
    <div class="buttons-group">
        <button type="submit" class="button">.button</button><button type="submit" class="button--primary">Primary</button><button type="submit" class="button--secondary">Secondary</button><button type="submit" class="button--success">Success</button><button type="submit" class="button--error">Error</button>
    </div>
</div>
<div class="box--background">
    <h4>Text & icon buttons</h4>
    <div class="buttons-group">
        <button type="submit" class="button"><i class="icon--pencil"></i> Edit</button><button type="submit" class="button--primary"><i class="icon--facebook"></i> Go to facebook</button><button type="submit" class="button--secondary"><i class="icon--picture-o"></i> View picture</button><button type="submit" class="button--success"><i class="icon--download"></i> Download</button><button type="submit" class="button--error"><i class="icon--times"></i> Delete</button>
    </div>
</div>