<div class="box _background">
    <h4>Text buttons</h4>
    <div class="button-group">
        <button type="submit" class="button">.button</button><button type="submit" class="button _primary">Primary</button><button type="submit" class="button _secondary">Secondary</button><button type="submit" class="button _success">Success</button><button type="submit" class="button _error">Error</button>
    </div>
</div>
<div class="box _background">
    <h4>Text & icon buttons</h4>
    <div class="button-group">
        <button type="submit" class="button"><i class="icon-pencil"></i> Edit</button><button type="submit" class="button _primary"><i class="icon-facebook"></i> Go to facebook</button><button type="submit" class="button _secondary"><i class="icon-picture-o"></i> View picture</button><button type="submit" class="button _success"><i class="icon-download"></i> Download</button><button type="submit" class="button _error"><i class="icon-times"></i> Delete</button>
    </div>
</div>