{% set current_children = "Autocomplete" %}
{% set current_section = "Forms" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-css fz-xl va-m">CSS</span> <span class="label-js fz-xl va-m">JS</span> Autocomplete</h1>
    {{ demos.demo(
        'text-fields',
        '../_demos/forms/autocomplete-input.html',
        false,false,true,'300px'
    )}}

    {{ demos.settings(
    {
        "1" : {
            "name" :        "data-fc-values",
            "description" : "List separated by comma of the words and phrases to autocomplete."
        }
    }
    )}}
{% endblock %}