{% set current_children = "Autosize" %}
{% set current_section = "Forms" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-css fz-xl va-m">CSS</span> <span class="label-js fz-xl va-m">JS</span> Autosize</h1>
    {{ demos.demo(
        'text-fields',
        '../_demos/forms/autosize-textarea.html',
        false,false,true
    )}}
{% endblock %}