{% set current_children = "Error Fields" %}
{% set current_section = "Forms" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Error Fields</h1>
    {{ demos.demo(
        'error-fields',
        '../_demos/forms/error-fields.html'
    )}}
{% endblock %}