{% set current_children = "Form Grids" %}
{% set current_section = "Forms" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-css fz-xl va-m">CSS</span> Form Grids</h1>
    <p>You can use the same grids to structure form that you use to structure the page. Here you have some examples.</p>
    {{ demos.demo(
        'text-fields',
        '../_demos/forms/form-grids.html'
    )}}

{% endblock %}