{% set current_children = "Number Fields" %}
{% set current_section = "Forms" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_object.html.twig" %}

{% block object_title %}
    <h1><span class="label-css fz-xl va-m">CSS</span> Number Fields</h1>
{% endblock object_title %}

{% block object_demo %}

    {{ demos.demo(
    'number-fields',
    '../_demos/forms/number-fields.html'
    )}}
{% endblock object_demo %}

{% block object_scss_vars %}
 {{ demos.scss_object(
 '../../css/core/objects/forms/__vars.scss',
 'navigation-vars'
 )}}
{% endblock object_scss_vars %}