{% set current_children = "Number Fields" %}
{% set current_section = "Forms" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Number Fields</h1>
    {{ demos.demo(
    'number-fields',
    '../_demos/forms/number-fields.html'
    )}}
{% endblock %}