{% set current_children = "Read Only Fields" %}
{% set current_section = "Forms" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-css fz-xl va-m">CSS</span> Read Only Fields</h1>
    {{ demos.demo(
        'complex-fields',
        '../_demos/forms/read-only-fields.html'
    )}}
{% endblock %}