{% set current_children = "Select Fields" %}
{% set current_section = "Forms" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-css fz-xl va-m">CSS</span> Select Fields</h1>
    {{ demos.demo(
        'select-fields',
        '../_demos/forms/select-fields.html'
    )}}
{% endblock %}