%focus {
	@if (map-get($object-forms-vars, field-focus-border-top) != false) {
		border-top: map-get($object-forms-vars, field-focus-border-top);
	}
	@if (map-get($object-forms-vars, field-focus-border-right) != false) {
		border-right: map-get($object-forms-vars, field-focus-border-right);
	}
	@if (map-get($object-forms-vars, field-focus-border-bottom) != false) {
		border-bottom: map-get($object-forms-vars, field-focus-border-bottom);
	}
	@if (map-get($object-forms-vars, field-focus-border-left) != false) {
		border-left: map-get($object-forms-vars, field-focus-border-left);
	}
	box-shadow: inset 0 0  map-get($object-forms-vars, field-focus-box-shadow-size) map-get($object-forms-vars, field-focus-box-shadow-color) !important;
	outline: none;
}

%error {
	@if (map-get($object-forms-vars, field-error-border-top) != false) {
		border-top: map-get($object-forms-vars, field-error-border-top);
	}
	@if (map-get($object-forms-vars, field-error-border-right) != false) {
		border-right: map-get($object-forms-vars, field-error-border-right);
	}
	@if (map-get($object-forms-vars, field-error-border-bottom) != false) {
		border-bottom: map-get($object-forms-vars, field-error-border-bottom);
	}
	@if (map-get($object-forms-vars, field-error-border-left) != false) {
		border-left: map-get($object-forms-vars, field-error-border-left);
	}
	@if (map-get($object-forms-vars, field-error-background) != false) {
		background: map-get($object-forms-vars, field-error-background);
	}
}

%success {
	@if (map-get($object-forms-vars, field-success-border-top) != false) {
		border-top: map-get($object-forms-vars, field-success-border-top);
	}
	@if (map-get($object-forms-vars, field-success-border-right) != false) {
		border-right: map-get($object-forms-vars, field-success-border-right);
	}
	@if (map-get($object-forms-vars, field-success-border-bottom) != false) {
		border-bottom: map-get($object-forms-vars, field-success-border-bottom);
	}
	@if (map-get($object-forms-vars, field-success-border-left) != false) {
		border-left: map-get($object-forms-vars, field-success-border-left);
	}
	@if (map-get($object-forms-vars, field-success-background) != false) {
		background: map-get($object-forms-vars, field-success-background);
	}
}

%field {
	& {
		display: block;
		font-family: map-get($object-forms-vars, field-font-family);
		font-size: map-get($object-forms-vars, field-font-size);
		font-weight: map-get($object-forms-vars, field-font-weight);
		padding: map-get($object-forms-vars, field-padding);
		border-top: map-get($object-forms-vars, field-border-top);
		border-right: map-get($object-forms-vars, field-border-right);
		border-bottom: map-get($object-forms-vars, field-border-bottom);
		border-left: map-get($object-forms-vars, field-border-left);
		background: map-get($object-forms-vars, field-background);
		color: map-get($object-forms-vars, field-color);
		border-radius: map-get($object-forms-vars, field-border-radius);
		box-sizing: border-box;
		box-shadow: map-get($object-forms-vars, field-box-shadow);
		line-height:map-get($object-forms-vars, field-line-height);
	}
	&.error {
		@extend %error;
	}
	&.success {
		@extend %success;
	}
	&:focus {
		@extend %focus;
	}
}