#lightcase-loading {
  @include loading(#FFF, transparent);
  position: fixed;
  z-index: 2001;
  top: 50%;
  left: 50%;

  margin-top: -0.5em;
  margin-left: -0.5em;

  opacity: 1;

  text-shadow: 0 0 15px #fff;
}