<!-- Image Circle default -->
<a href="#" class="image-circle">
	<img src="../static/img/chuck.jpg" width="150" />
</a>

<!-- Image Circle width border small -->
<a href="#" class="image-circle bda-s">
	<img src="../static/img/chuck.jpg" width="150" />
</a>

<!-- Image Circle width border medium -->
<a href="#" class="image-circle bda-m">
	<img src="../static/img/chuck.jpg" width="150" />
</a>

<!-- Image Circle width border large -->
<a href="#" class="image-circle bda-l">
	<img src="../static/img/chuck.jpg" width="150" />
</a>

<!-- Image Circle width border extra large -->
<a href="#" class="image-circle bda-xl">
	<img src="../static/img/chuck.jpg" width="150" />
</a>
