input.gsc-search-button {
	background-repeat: no-repeat;
	background-position: 50%;
	padding: 1em $spacing !important;
	border: 0px none !important;
}

div.gsc-control-cse {
	padding: 0 $spacing 0 0;
	background: transparent;
	border: 0px none;
}

form.gsc-search-box-tools {
	padding: $spacing/2 0 !important;
}

div.gsc-input-box {
	height: 38px !important;
	padding: 0 !important;
	margin: 0 !important;
	@extend %field;
	input {
		border: 0px none !important;;
		height: 32px !important;
	}
}