{% set current_children = "FrontendCore V2 (BETA)" %}
{% set current_subtitle = "Now with superpowers" %}
{% set current_section = "" %}

{% extends "_layout/_basic.html.twig" %}

{% block main %}
    <div class="callout _info">
        Looking for the docs to Frontendcore V1? <a href="http://old.frontendcore.com">Look here</a>
    </div>
    <div class="box _empty ph-n">
        <p>The web is growing so fast and there is always new plugins, tendencies and even more devices making the full process more complex and slow. Frontend Core, a mix of technology that make us 500% productive and be prepared for the future.</p>
    </div>
    <div id="features" class="row">
        <div class="col-xs-12 col-s-12 col-m-6 col-l-3 col-xl-3 col-xxl-3 col-xxxl-3">
            <section class="box _empty">
                <img src="{{ url.static }}icons/components.svg" width="100" />
                <h2 class="fw-n">Web components</h2>
                <p>Based on the <a href="http://bradfrostweb.com/blog/post/atomic-web-design/" target="_blank">atomic design concept</a>, FrontendCore provides you <strong>patterns, objects & modifiers</strong> to create complex designs based on the markup.</p>
            </section>
        </div>
        <div class="col-xs-12 col-s-12 col-m-6 col-l-3 col-xl-3 col-xxl-3 col-xxxl-3">
            <section class="box _empty">
                <img src="{{ url.static }}icons/responsive.svg" width="100" />
                <h2 class="fw-n">Responsive interface</h2>
                <p>All the components are mobile first to make you site mobile from day 1 and is compatible with IE8+,FF,CH, SF with progressive enhancement techniques.</p>
            </section>
        </div>
        <div class="col-xs-12 col-s-12 col-m-6 col-l-3 col-xl-3 col-xxl-3 col-xxxl-3">
            <section class="box _empty">
                <img src="{{ url.static }}icons/scalable.svg" width="100" />
                <h2 class="fw-n">Scalable Javascript</h2>
                <p>Based on <strong><a href="https://github.com/mawrkus/tinycore" target="_blank">TinyCore</a></strong> and <strong><a href="http://requirejs.org/" target="_blank">RequireJS</a></strong>, loads and execute <strong>AMD modules</strong> scanning the DOM, providing an incredible balance between easy of use and performance. </p>
            </section>
        </div>
        <div class="col-xs-12 col-s-12 col-m-6 col-l-3 col-xl-3 col-xxl-3 col-xxxl-3">
            <section class="box _empty">
                <img src="{{ url.static }}icons/easy.svg" width="100" />
                <h2 class="fw-n">Easy User Interface</h2>
                <p>FrontendCore provides you User interface components based on data attributes providing your user a <strong>great User experience and fast development.</strong></p>
            </section>
        </div>
    </div>
    <div class="box _background">
        <h4>Main Technologies</h4>
        <div class="row _start">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-4 col-xxl-4 col-xxxl-4">
                <div class="box _empty">
                    <a href="http://sass-lang.com/" target="_blank">
                        <img src="../static/img/logo-sass.gif" height="150"/>
                    </a>
                    <p><strong>Sass</strong> is a css preprocessor. CSS on its own can be fun, but stylesheets are getting larger, more complex, and harder to maintain. This is where a preprocessor can help. Sass lets you use features that don't exist in CSS yet like variables, nesting, mixins, inheritance and other nifty goodies that make writing CSS fun again.</p>
                </div>
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-4 col-xxl-4 col-xxxl-4">
                <div class="box _empty">
                    <a href="http://jquery.com/" target="_blank">
                        <img src="../static/img/logo-jquery.gif" height="150"/>
                    </a>
                    <p><strong>jQuery</strong> is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers.</p>
                </div>
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-4 col-xxl-4 col-xxxl-4">
                <div class="box _empty">
                    <a href="http://requirejs.org/" target="_blank">
                        <img src="../static/img/logo-requirejs.gif" height="150"/>
                    </a>
                    <p><strong>RequireJS</strong> is a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node. Using a modular script loader like RequireJS will improve the speed and quality of your code.</p>
                </div>
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-4 col-xxl-4 col-xxxl-4">
                <div class="box _empty">
                    <a href="http://nodejs.org/" target="_blank">
                        <img src="../static/img/logo-nodejs.gif" height="150"/>
                    </a>
                    <p><strong>Node.js</strong> is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.</p>
                </div>
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-4 col-xxl-4 col-xxxl-4">
                <div class="box _empty">
                    <a href="http://gruntjs.com/" target="_blank">
                        <img src="../static/img/logo-grunt.gif" height="150"/>
                    </a>
                    <p><strong>Grunt</strong> is in one word: automation. The less work you have to do when performing repetitive tasks like minification, compilation, unit testing, linting, etc, the easier your job becomes. After you've configured it through a Gruntfile, a task runner can do most of that mundane work for you—and your team—with basically zero effort.</p>
                </div>
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-4 col-xl-4 col-xxl-4 col-xxxl-4">
                <div class="box _empty">
                    <a href="http://bower.io/" target="_blank">
                        <img src="../static/img/logo-bower.gif" height="150"/>
                    </a>
                    <p><strong>Bower</strong> works by fetching and installing packages from all over, taking care of hunting, finding, downloading, and saving the stuff you’re looking for. Bower keeps track of these packages in a manifest file, bower.json. How you use packages is up to you. Bower provides hooks to facilitate using packages in your tools and workflows.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box _background">
        <h4>With the support of...</h4>
        <div class="row _start">
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6 col-xxl-6 col-xxxl-6">
                <div class="box _empty">
                    <a href="http://browserstack.com/" target="_blank" class="d-b ta-c w-100">
                        <img src="../static/img/logo-browserstack.png" width="250"/>
                    </a>
                    <p><strong>Browserstack</strong> provides the best multi-device testing platform to guarantee that Frontendcore works in all browsers and devices.</p>
                </div>
            </div>
            <div class="col-xs-12 col-s-12 col-m-6 col-l-6 col-xl-6 col-xxl-6 col-xxxl-6">
                <div class="box _empty">
                    <a href="http://jetbrains.com/" target="_blank" class="d-b ta-c w-100">
                        <img src="../static/img/logo-jetbrains.png" width="250"/>
                    </a>
                    <p><strong>Jet Brains</strong> provides the best code edition tools such phpStorm to ensure the most agile development to Frontendcore.</p>
                </div>
            </div>

        </div>
    </div>
{% endblock main %}
