// Compares contrast of a given color to the light/dark arguments and returns whichever is most 'contrasty'
@function contrast-color($color, $dark: $color-foreground, $light: $color-background) {
	@if $color == null {
		@return null;
	} @else {
		$color-brightness: _brightness($color);
		$light-text-brightness: _brightness($light);
		$dark-text-brightness: _brightness($dark);

		$color-returned: if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);

		@if ( $color-returned == $color ) {
			$color-returned: contrast-color( $color-returned );
		}

		@return $color-returned;
	}
}