<div class="table">
    <div class="table-head">
        <div class="row">
            <div class="col">Name</div>
            <div class="col">Age</div>
            <div class="col">City</div>
            <div class="col">From</div>
            <div class="col">To</div>
            <div class="col">Visits</div>
        </div>
    </div>
    <div class="table-body">
        <div class="row">
            <div class="col" data-label="Name">George</div>
            <div class="col" data-label="Age">19</div>
            <div class="col" data-label="City">San Francisco</div>
            <div class="col" data-label="From">01/01/14</div>
            <div class="col" data-label="To">07/07/15</div>
            <div class="col" data-label="Visits">15</div>
        </div>
        <div class="row">
            <div class="col" data-label="Name">Robin</div>
            <div class="col" data-label="Age">23</div>
            <div class="col" data-label="City">Washington</div>
            <div class="col" data-label="From">01/01/14</div>
            <div class="col" data-label="To">07/07/15</div>
            <div class="col" data-label="Visits">15</div>
        </div>
        <div class="row">
            <div class="col" data-label="Name">Charles</div>
            <div class="col" data-label="Age">20</div>
            <div class="col" data-label="City">San Diego</div>
            <div class="col" data-label="From">01/01/14</div>
            <div class="col" data-label="To">07/07/15</div>
            <div class="col" data-label="Visits">15</div>
        </div>
    </div>
</div>