<ul class="tag-list">
	<li>
		<a href="#">tag 1</a>
	</li>
	<li>
		<a href="#">tag 2</a>
	</li>
	<li>
		<a href="#">tag 1</a>
	</li>
	<li>
		<a href="#">tag 2</a>
	</li>
	<li>
		<a href="#">tag 1</a>
	</li>
	<li>
		<a href="#">tag 2</a>
	</li>
	<li>
		<a href="#">tag 1</a>
	</li>
	<li>
		<a href="#">tag 2</a>
	</li>
	<li>
		<a href="#">tag 1</a>
	</li>
	<li>
		<a href="#">tag 2</a>
	</li>
	<li>
		<a href="#">tag 1</a>
	</li>
	<li>
		<a href="#">tag 2</a>
	</li>
	<li>
		<a href="#">tag 1</a>
	</li>
	<li>
		<a href="#">tag 2</a>
	</li>
</ul>