<form>
    <h4>value:</h4>
    <input id="valueId" />
    <br>
    <br>
    <div id='editable-div1' data-fc-modules="editable"  data-fc-mediator="channel:any" data-fc-tag="textarea" data-fc-class="any" data-fc-input-id="valueId" data-fc-edit-type="full">
        some div here, click me...
    </div>
    <br>
    <br>
    <div id='editable-div2' data-fc-modules="editable"  data-fc-mediator="channel:any" data-fc-tag="input" data-fc-class="any" data-fc-input-id="valueId">
        another div here...
    </div>
    <br>
    <a onclick="$('#editable-div2').trigger('editable', {editable: true})">Editable=true</a>
    <br>
    <a onclick="$('#editable-div2').trigger('editable', {editable: false})">Editable=false</a>
</form>

