$breakpoints-default: (
	xs : 0,
	s : 250px,
	m: 500px,
	l: 800px,
	xl: 980px,
	xxl: 1280px,
	xxxl: 1440px,
);

$breakpoints-custom: () !default;

$breakpoints: map-merge($breakpoints-default, $breakpoints-custom) !global;

$screens-and-devices-default: (
	xs : 'mobile',
	s: 'mobile',
	m: 'phablet',
	l: 'tablet',
	xl: 'desktop',
	xxl: 'desktop',
	xxxl: 'desktop'
);

$screens-and-devices-custom: () !default;

$screens-and-devices: map-merge($screens-and-devices-default, $screens-and-devices-custom) !global;

