$colors-custom: () !default;

$colors-default: (
		foreground: #424242,
		foreground-light: auto,
		foreground-dark: auto,
		background: #fdfdfd,
		background-light: auto,
		background-dark: auto,
		body: #F5F7F9,
		primary: #407C8E,
		primary-light: auto,
		primary-dark: auto,
		secondary: #3ACED1,
		secondary-light: auto,
		secondary-dark: auto,
		link: #3ACED1,
		link-hover: #006bc1,
		link-hover-background: transparent,
		box: #ECECEC,
		box-light: auto,
		box-dark: auto,
		info: #1E72A6,
		success: #8eac5b,
		error: #a31f24,
		warning: #DFB84F,
		input-focus: #ffffea
);

$colors: map-merge($colors-default, $colors-custom) !global;

$colors-main: foreground, background, primary, secondary, box !global;
$colors-status: (
		info: map_get($colors, info),
		success: map_get($colors, success),
		error: map_get($colors, error),
		warning: map_get($colors, warning),
) !global;