$fonts-custom: () !default;

$fonts-default: (
		face-default: unquote('"Source Sans Pro", sans-serif'),
		face-logo: unquote('"Amatic","Arial Narrow", Tahoma, sans-serif'),
		face-title: unquote('"Alegreya Sans", sans-serif'),
		weight-default: normal,
		weight-title: bold,
		weight-logo: bold,
		icons: true,
		line-height-default: 1.5,
		line-height-logo: 1,
		line-height-title: 1,
		size-base: 1.03rem,
		size-ratio-default: 1.15,
		size-ratio-desktop: 1.25,
		size-xxxl: auto,
		size-xxl: auto,
		size-xl: auto,
		size-l: auto,
		size-m: auto,
		size-default: auto,
		size-s: auto,
		size-xs: auto,
		size-xxs: auto,
		size-xxxs: auto,
		size-xxxxs: auto,
) !default;

$fonts: map-merge($fonts-default, $fonts-custom) !global;

$ms-base: map_get($fonts, size-base);

@if $device == 'desktop' {
	$ms-ratio: map_get($fonts, size-ratio-desktop);
} @else {
	$ms-ratio: map_get($fonts, size-ratio-default);
}

