{% set relative_path = "../" %}


{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    {% block object_title %}{% endblock object_title %}
    <div data-fc-modules="tabs" class="tabs-box">
        <section id="demos" data-fc-name="Demos & Code">
            {% block object_demo %}{% endblock object_demo %}
        </section>
        <section id="appearance" data-fc-name="Customize Appearance">
                {% block object_scss_vars %}{% endblock object_scss_vars %}
        </section>
    </div>
{% endblock %}