{% set relative_path = "../" %}


{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <section id="demos">
        {% block object_demo %}{% endblock object_demo %}
    </section>
    <section id="appearance">
            {% block object_scss_vars %}{% endblock object_scss_vars %}
    </section>
{% endblock %}
