.button {
	@extend %button;

	&._hollow {
		&:hover {
			color: $color-foreground !important;
			border-color: $color-foreground !important;
		}
	}

	&._small {
		@extend %button_small;
	}
	&._large {
		@extend %button_large;
	}
	&._primary {
		background: map-get($object-buttons-vars, primary-background);
		color: map-get($object-buttons-vars, primary-color);
		border-color: map-get($object-buttons-vars, primary-background);
	}
	&._secondary {
		background: map-get($object-buttons-vars, secondary-background);
		color: map-get($object-buttons-vars, secondary-color);
		border-color: map-get($object-buttons-vars, secondary-background);
	}
	&._success {
		background: map-get($object-buttons-vars, success-background);
		color: map-get($object-buttons-vars, success-color);
		border-color: map-get($object-buttons-vars, success-background);
	}
	&._error {
		background: map-get($object-buttons-vars, error-background);
		color: map-get($object-buttons-vars, error-color);
		border-color: map-get($object-buttons-vars, error-background);
	}
	&._hollow {
		& {
			background: transparent;
			text-shadow: none;
			color: map-get($object-buttons-vars, default-background);
		}
		&._primary {
			color: map-get($object-buttons-vars, primary-background);
		}
		&._secondary {
			color: map-get($object-buttons-vars, secondary-background);
		}
		&._success {
			color: map-get($object-buttons-vars, success-background);
		}
		&._error {
			color: map-get($object-buttons-vars, error-background);
		}
	}

	&._empty {
		background: map-get($object-buttons-vars, empty-background);
		color: map-get($object-buttons-vars, empty-color);
		text-shadow: map-get($object-buttons-vars, empty-text-shadow);
		box-shadow: none;
		border-color: transparent;
		&:hover {
			color: map-get($object-buttons-vars, empty-color) !important;
			text-decoration: underline;
			border-color: transparent !important;
		}
	}
	&._disabled,
	&._disabled:hover {
		opacity: .2;
		cursor: default;
	}
	&._icon {
		@extend %button_icon;
		&._large {
			@extend %button_icon_large;
		}
		&._small {
			@extend %button_icon_small;
		}
	}
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
	height: auto;
	width: auto;
}