%button {
	& {
		border-radius: map-get($object-buttons-vars, border-radius);
		margin: map-get($object-buttons-vars, margin);
		padding: map-get($object-buttons-vars, padding);
		box-shadow: map-get($object-buttons-vars, box-shadow);
		text-shadow: map-get($object-buttons-vars, text-shadow);
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		box-sizing: border-box;
		font-weight: map-get($object-buttons-vars, font-weight);
		font-family: map-get($object-buttons-vars, font-family);
		font-size: map-get($object-buttons-vars, font-size);
		border-width: map-get($object-buttons-vars, border-width);
		border-style: map-get($object-buttons-vars, border-style);
		border-color: map-get($object-buttons-vars, default-background);
		background: map-get($object-buttons-vars, default-background);
		color: map-get($object-buttons-vars, default-color);
		line-height: 100%;
		outline: none;
	}
	&:hover {
		filter: brightness(105%) contrast(115%);
		text-decoration: none;
		i {
			text-decoration: none !important;
		}
	}
	&:active {
		opacity: .8;
		outline: 0;
	}
	[class^='icon-'] {
		margin-right: $spacing/4;
	}
	.couple-icon {
		[class*="icon-"]:last-child:after {
			color:map-get($object-buttons-vars, default-background);
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: map-get($object-buttons-vars, default-background);
		}
	}
}

%button_small {
	& {
		padding: map-get($object-buttons-vars, small-padding);
		font-family: map-get($object-buttons-vars, small-font-family);
		font-weight: map-get($object-buttons-vars, small-font-weight);
		font-size: map-get($object-buttons-vars, small-font-size);
	}
	[class^='icon-'] {
		margin-right: $spacing/8;
	}
}

%button_large {
	& {
		padding: map-get($object-buttons-vars, large-padding);
		font-family: map-get($object-buttons-vars, large-font-family);
		font-weight: map-get($object-buttons-vars, large-font-weight);
		font-size: map-get($object-buttons-vars, large-font-size);
	}
	[class^='icon-'] {
		margin-right: $spacing/2;
	}
}

%button_icon {
	position: relative;
	border-radius: map-get($object-buttons-vars, border-radius);
	width: map-get($object-buttons-vars, icon-default-width);
	height: map-get($object-buttons-vars, icon-default-height);
	box-sizing: border-box;
	padding-left: 0 !important;
	padding-right: 0 !important;
	[class*="icon-"]:first-child, .couple-icon {
		display: block;
		margin-right: 0 !important;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		&:before {
			position: absolute;
			left: 0;
			top: 50%;
			width: 100%;
			text-align: center;
			font-size: map-get($object-buttons-vars, icon-default-font-size);
			height: map-get($object-buttons-vars, icon-default-font-size);
			margin-top: (-(map-get($object-buttons-vars, icon-default-font-size)/2));
		}
	}
	.couple-icon {
		[class*="icon-"]:last-child {
			top: 50%;
			left: 50%;
			bottom: inherit;
			right: inherit;
			margin: map-get($object-buttons-vars, icon-default-font-size)/8 0 0 map-get($object-buttons-vars, icon-default-font-size)/8;
		}
	}
	span {
		opacity: 0;
		display: block;
		position: absolute;
		white-space: nowrap;
		background: transparent;
		color: $color-foreground;
		font-size: $font-size-xs;
		font-weight: normal;
		top: map-get($object-buttons-vars, icon-default-font-size) + $spacing/2;
		margin: map-get($object-buttons-vars, padding);
		padding-right: 0 !important;
		padding-left: 0 !important;
		margin-left: -100% !important;
		margin-right: 0 !important;
		width:0;
		height: 0;
		transition: opacity .1s ease-in;
		text-align: center;
		overflow: hidden;
		text-shadow: 1px 1px $color-background;
		box-sizing: border-box;
	}
	&:hover {
		span {
			opacity: 1;
			width:300%;
			height: 1px;
			overflow: visible;
		}
	}
}

%button_icon_small {
	padding: map-get($object-buttons-vars, small-padding);
	width: map-get($object-buttons-vars, icon-small-width);
	height: map-get($object-buttons-vars, icon-small-height);
	[class*="icon-"]:first-child:before, .couple-icon:before {
		font-size: map-get($object-buttons-vars, icon-small-font-size);
		height: map-get($object-buttons-vars, icon-small-font-size);
		margin-top: (-(map-get($object-buttons-vars, icon-small-font-size)/2));
	}
	span {
		margin: map-get($object-buttons-vars, small-padding);
		top: map-get($object-buttons-vars, icon-small-font-size) + $spacing/3;
	}
	.couple-icon {
		[class*="icon-"]:last-child {
			margin: map-get($object-buttons-vars, icon-small-font-size)/8 0 0 map-get($object-buttons-vars, icon-small-font-size)/8;

		}
	}
}

%button_icon_large {
	padding: map-get($object-buttons-vars, large-padding);
	width: map-get($object-buttons-vars, icon-large-width);
	height: map-get($object-buttons-vars, icon-large-height);
	[class*="icon-"]:first-child:before, .couple-icon:before {
		font-size: map-get($object-buttons-vars, icon-large-font-size);
		height: map-get($object-buttons-vars, icon-large-font-size);
		margin-top: (-(map-get($object-buttons-vars, icon-large-font-size)/2));
	}
	span {
		margin: map-get($object-buttons-vars, large-padding);
		top: map-get($object-buttons-vars, icon-large-font-size) + $spacing/2;
	}
	.couple-icon {
		[class*="icon-"]:last-child {
			margin: map-get($object-buttons-vars, icon-large-font-size)/8 0 0 map-get($object-buttons-vars, icon-large-font-size)/8;

		}
	}
}