{% set current_children = "Borders" %}
{% set current_section = "Modifiers" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Border modifiers</h1>
    {{ demos.scss(
    '../_demos/media/circle-image.html',
        '../../css/core/modifiers/_border.scss'
    )}}
{% endblock %}
