{% set current_children = "Font sizes" %}
{% set current_section = "Modifiers" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Font modifiers</h1>
    {{ demos.scss(
        '../_demos/modifiers/fonts.html',
        '../../css/core/modifiers/_font.scss'
    )}}
{% endblock %}