{
"menu":
	[
	    ["index","Home"],
	    ["css/index","Static Components"],
	    ["data/index","Dynamic Components"],
	    ["responsive/index","Responsive"]
    ]
}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>FrontendCore: The all in one frontend framework.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css"  href="{{= it.document.relativePath || '' }}static/css/main.css" media="all">
    <!--[if lte IE 8]>
    <script src="{{= it.document.relativePath || '' }}/static/js/ie-old.js"></script>
    <link rel="stylesheet" type="text/css"  href="{{= it.document.relativePath || '' }}static/css/ie-old.css" media="all">
    <script type="text/javascript">
	    var $buoop = {reminder: 0};
	    $buoop.ol = window.onload;
	    window.onload=function(){
		    try {if ($buoop.ol) $buoop.ol();}catch (e) {}
		    var e = document.createElement("script");
		    e.setAttribute("type", "text/javascript");
		    e.setAttribute("src", "//browser-update.org/update.js");
		    document.body.appendChild(e);
	    }
    </script>
	<![endif]-->
    <!--[if gte IE 9]>
    <link rel="stylesheet" type="text/css"  href="{{= it.document.relativePath || '' }}static/css/ie-new.css" media="all">
    <![endif]-->
	<script type="text/javascript">
        var oGlobalSettings = {
                sPathJs : '{{= it.document.relativePath || "" }}static/js/',
                sPathJsCore: '{{= it.document.relativePath || "../" }}/',
                sPathJsModules : '{{= it.document.relativePath || "" }}static/js/modules/',
                sPathJsLibs : '{{= it.document.relativePath || "" }}static/js/libs/',
                sPathRoot: '{{= it.document.relativePath || "" }}',
                sPathCss: '{{= it.document.relativePath || "" }}static/css/',
	            bCss : false,
	            bResponsiveImages: true
      		}

	</script>
	<script src="{{= it.document.relativePath || '' }}static/js/core.js"></script>
</head>
<body data-tc-modules="polyfills">
<header class="header">
	{{? it.document.landing != 'true' }}
	<div class="grid">
		<a title="Frontend Core" href="{{= it.document.relativePath || '' }}index.html" class="logo"><img src="{{= it.document.relativePath || '' }}static/img/frontendcore.png" class="mh-m mt-s mb-m" alt="FRONTEND CORE" /></a>
	</div>
	{{??}}
		{{= it.include("landing/splash") }}
	{{?}}
	<section class="menu">
		<div class="grid">
			<nav class="navigation mobile">
				<ul>
					<li><a data-tc-modules="sidemenu" href="#side-menu" class="button mobile"><i class="icon-align-justify"></i></a></li>
				</ul>
			</nav>
			<nav id="side-menu" class="navigation tablet desktop">
				<ul>
					{{~it.menu :value:index}}
					<li{{? it.document.menuActive === value[0]}} class="active"{{?}}><a title="{{=value[0]}}" href="{{= it.document.relativePath || '' }}{{=value[0]}}.html">{{=value[1]}}</a></li>
					{{~}}
					<li class="fl-r"> <a title="frontendcore docs" href="http://docs.frontendcore.com" target="_blank">How to docs</a> </li>
					<li class="fl-r"> <a title="frontendcore docs" href="{{= it.document.relativePath || '' }}sassdoc/index.html" target="_blank">SCSS docs</a> </li>
				</ul>
			</nav>
		</div>
	</section>

</header>
{{? it.document.landing != 'true' }}
<div class="grid">
    {{= it.document }}
</div>
{{??}}
	{{= it.document }}
{{?}}
</body>
</html>