.ms-ctn {
	@extend %field;
	padding: 0;
	position: relative;
	height: auto;
	z-index: 1;
}

.ms-ctn-readonly {
	cursor: pointer;
}

.ms-ctn-disabled {
	cursor: not-allowed;
	background-color: #eeeeee;
}

.ms-ctn-bootstrap-focus {
	& {
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.ms-res-ctn {
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.ms-ctn-focus {
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ms-ctn {
	input {
		border: 0;
		box-shadow: none;
		outline: none;
		display: block;
		padding: $spacing/8 0;
		line-height: 1.42857143;
		margin: 1px 0;
		width: 100%;
	}
	.ms-sel-ctn input {
		& {
			display: inline-block;
			padding: 0;
			margin: 0;
			border: 0px none;
			box-shadow: none;
			max-width: 50%;
		}
		&:focus {
			box-shadow: none !important;
			outline: none !important;
		}
	}
}

.ms-ctn-disabled input {
	cursor: not-allowed;
	background-color: #eeeeee;
}

.ms-ctn {
	.ms-input-readonly {
		cursor: pointer;
	}
	.ms-empty-text {
		color: #DDD;
	}
	input {
		&:focus {
			border: 0;
			box-shadow: none;
			-webkit-transition: none;
			background: #fff;
			outline: none;
		}
		&::-ms-clear {
			width: 0;
			height: 0;
		}
	}
	.ms-trigger {
		& {
			top: 0;
			width: 25px;
			height: 100%;
			position: absolute;
			right: 0;
			background: transparent;
			border-left: 1px solid $color-box-dark;
			cursor: pointer;
		}
		.ms-trigger-ico {
			position: absolute;
			width: 0;
			height: 0;
			vertical-align: top;
			border-top: 4px solid rgba($color-foreground, .5);
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			content: '';
			margin-left: -4px;
			margin-top: -4px;
			left: 50%;
			top: 50%;
		}
		&:hover {
			& {
				cursor: pointer;
				background-color: rgba($color-link, .2);
				color: contrast-color($color-link);
			}
			.ms-trigger-ico {
				border-top-color: contrast-color($color-link) !important;
			}
		}
	}
}

.ms-ctn-disabled .ms-trigger {
	cursor: not-allowed;
	background-color: #eeeeee;
}

.ms-ctn-bootstrap-focus {
	border-bottom: 1px solid #CCC;
}

.ms-res-ctn {
	& {
		width: 100%;
		display: block;
		overflow-y: auto;
	}
	.ms-res-group {
		line-height: 23px;
		text-align: left;
		padding: 2px 5px;
		font-weight: bold;
		border-bottom: 1px dotted #CCC;
		border-top: 1px solid #CCC;
		background: #f3edff;
		color: #333;
	}
	.ms-res-item {
		line-height: 25px;
		text-align: left;
		padding: 2px 5px;
		color: $color-foreground;
		cursor: pointer;
	}
	.ms-res-item-grouped {
		padding-left: 15px;
	}
	.ms-res-odd {
		background: $color-box;
	}
	.ms-res-item-active {
		background-color: rgba($color-link, .2);
	}
	.ms-res-item-disabled {
		color: $color-box-dark;
		cursor: default;
	}
}

.ms-sel-ctn {
	overflow: auto;
	line-height: 18px;
	padding-right: 25px;
}

.ms-no-trigger .ms-sel-ctn {
	padding-right: 0;
}

.ms-sel-ctn {
	.ms-sel-invalid {
		background: #FDF2F2 !important;
	}
}

.ms-sel-item {
	& {
		@extend %tag;
		margin: 0 $spacing/2 $spacing/8 0;
		position: relative;
	}
	&:hover {
		cursor: default;
		background: $color-box;
		color: $color-foreground;
	}
}

.ms-sel-ctn .ms-sel-text {
	background: #fff;
	color: #666;
	padding-right: 0;
	margin-left: 0;
	font-size: $font-size-default;
	font-weight: normal;
}

.ms-res-ctn .ms-res-item em {
	font-style: normal;
	background: $color-link;
	color: contrast-color($color-link);
	padding: 0 !important;
}

.ms-sel-ctn {
	.ms-sel-text:hover {
		background: #fff;
	}
	.ms-sel-item-active {
		background: #757575;
	}
}

.ms-stacked .ms-sel-item {
	float: inherit;
}

.ms-close-btn {
	& {
		display: inline-block;
		background: $color-primary;
		color: contrast-color($color-primary);
		padding: 0 $spacing/8;
		float: right;
		cursor: pointer;
		margin: 0 0 0 $spacing/4;
		position: absolute;
		top: -$spacing/8;
		right: -$spacing/4;
		border-radius: 50%;
		width: 10px;
		text-align: center;
		box-shadow: 1px 1px 1px rgba(0,0,0, .1);
	}

	&:after {
		content: "\00D7";
	}
	&:hover {
		background: $color-link;
		contrast-color: $color-link;
	}
}

.ms-stacked .ms-sel-item .ms-close-btn {
	margin-left: 0px;
}

.ms-helper {
	font-size: $font-size-s;
	color: $color-error;
	position: absolute;
	top: -$spacing;
	right: 0;
}

.ms-ctn {
	&.input-lg .ms-trigger .ms-trigger-ico {
		margin-top: 17px;
	}
	&.input-sm .ms-trigger .ms-trigger-ico {
		margin-top: 13px;
	}
	&.input-lg .ms-sel-ctn .ms-sel-item {
		padding-top: 2px;
		padding-bottom: 3px;
	}
	&.input-sm .ms-sel-ctn {
		& {
			line-height: 15px;
		}
		.ms-sel-item {
			padding-top: 1px;
			padding-bottom: 1px;
			margin-top: 0;
			margin-bottom: 0;
			.ms-close-btn {
				margin-top: 4px;
			}
		}
	}
	.ms-sel-ctn {
		padding: map-get($object-forms-vars, field-padding);
	}
	.ms-trigger:hover {
		width: 24px;
		right: 1px;
		border-radius: 0 3px 3px 0;
	}
}

.ms-res-ctn.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box;
}