// GET CUSTOM DEVICE GUTTER OR DEFAULT
$device-gutter: map_get($grid, gutters) !global;

@if map_get($grid, #{$scr}-gutters) != false and map_get($grid, #{$scr}-gutters) != null {
  $device-gutter: map_get($grid, #{$scr}-gutters);
}

$grid-width: 100% !global;

@if is-percentage($device-gutter) == false {

  @if is-percentage(map_get($grid, container-width)) == false {
    $grid-width: map_get($grid, container-width);
  }

  @if (  map_get($grid, #{$scr}-container-width) != false and map_get($grid, #{$scr}-container-width) != null ) {

    @if is-percentage(map_get($grid, #{$scr}-container-width)) == false {
      $grid-width: map_get($grid, #{$scr}-container-width);
    } @else {
      $grid-width: 100%;
    }

  }
}

$grid-columns: 1 2 3 4 5 6 7 8 9 10 11 12 !global;
$grid-total: last($grid-columns) !global;
$gutter: ($device-gutter * 11) / 12 !global;;