$grid-columns: 1 2 3 4 5 6 7 8 9 10 11 12;
$grid-total: last($grid-columns);
$gutter: (map_get($grid-default, gutters)) * 11 / 12;

.col {
  &:last-child:not(.col-last-m),
  &.col-last-m,
  &._ungap{
    margin-right: 0;
  }
}
/*when more than three columns, change to 50% width with automatic gutter space between */
.col {
  &:nth-last-child(n+3), &:nth-last-child(n+3) ~ .col:not([class*="col-m-"]) {
    & {
      flex-basis: 50% - $gutter/2;
      max-width: 50% - $gutter/2;
      margin-right: 0;
    }
  }
}

@each $number in $grid-columns {
  $n: index($grid-columns, $number);
  $column: 100%/$grid-total * $n;
  $compensation: $gutter * ($n/$grid-total);
  $reduced-column: ($column * (1 - ($gutter / $column))) + $compensation;
  $offset: $column + $compensation + $gutter;

  .col-m-#{$n}, .col.col-m-#{$n} {
    flex: 0 0 $reduced-column;
    max-width: $reduced-column;
  }
  .col-m-offset-#{$n} {
    margin-left: $offset;
  }

  .col.col-m-offset-#{$n} {
    margin-left: $column + $compensation;
  }

  .row._ungap{
    >.col-m-#{$n}, >.col.col-m-#{$n}  {
      flex: 0 0 $column;
      max-width: $column;
    }
    >.col-m-offset-#{$n} {
      margin-left: $column;
    }
  }

}

.row {
  @include flex-distribution("",-m);
}

@include flex-order(-m);