
.col {
  flex: 1 1 100%;
  max-width: 100%;
  margin-right: 0;
}

@each $number in $grid-columns {
  $n: index($grid-columns, $number);
  $column: $grid-width/$grid-total * $n;
  $compensation: $gutter * ($n/$grid-total);
  $reduced-column: ($column * (1 - ($gutter / $column))) + $compensation;
  $offset: $column + $compensation + $gutter;

  .col-s-#{$n} {
    flex: 0 0 $reduced-column;
    max-width: $reduced-column;
  }
  .row._start,
  .row._end,
  .row._center{
    .col-s-#{$n} {
      flex: 0 0 $column - $gutter;
      max-width: $column - $gutter;
    }
  }
  .row._start{
    .col-s-#{$n} {
      margin-right: $gutter;
    }
  }
  .row._end{
    .col-s-#{$n} {
      margin-left:$gutter;
    }
  }
  .row._center{
    .col-s-#{$n}:not(:first-of-type) {
      margin-left:$gutter/2;
    }
  }

  .col-s-offset-#{$n} {
    margin-left: $offset;
  }

  .col.col-s-offset-#{$n} {
    margin-left: $column + $compensation;
  }

  .row._ungap{
    >.col-s-#{$n} {
      flex: 0 0 $column;
      max-width: $column;
      margin-left: 0;
      margin-right: 0;
    }
    >.col-s-offset-#{$n} {
      margin-left: $column;
    }
  }
}

.row {
  @include flex-distribution("",-s);
}

@include flex-order(-s);

._reverse-s, ._reverse-xs {
  flex-direction: column-reverse;
}