$grid: 1 2 3 4 5 6 7 8 9 10 11 12;
$grid-total: last($grid);
$gutter: map_get($grid-default, gutters);

.col {
  flex: 1 1 100%;
  max-width: 100%;
  margin-right: 0;
}

@each $number in $grid {
  $n: index($grid, $number);
  $column: 100%/$grid-total * $n;
  $compensation: $gutter * ($n/$grid-total);
  $reduced-column: ($column * (1 - ($gutter / $column))) + $compensation;
  $offset: $column + $compensation + $gutter;

  .col-s-#{$n} {
    flex: 0 0 $reduced-column;
    max-width: $reduced-column;
  }
  .col-s-offset-#{$n} {
    margin-left: $offset;
  }

  .col.col-s-offset-#{$n} {
    margin-left: $column + $compensation;
  }

  .row._ungap{
    .col-s-#{$n} {
      flex: 0 0 $column;
      max-width: $column;
    }
    .col-s-offset-#{$n} {
      margin-left: $column;
    }
  }
}

.row {
  @include flex-distribution(-s);
}

@include flex-order(-s);
