@if (  map_get($grid, #{$scr}-container-width) != false) {

  .container {
    & {
      @if map_get($grid, #{$scr}-container-width-type) == 'fixed'  {
        width: map_get($grid, #{$scr}-container-width);
        @if (map_get($grid, #{$scr}-container-max-width) != false and map_get($grid, #{$scr}-container-max-width) != null){
          max-width: map_get($grid, #{$scr}-container-max-width);
        } @else {
          max-width: inherit;
        }
      } @else if map_get($grid, #{$scr}-container-width-type) == 'max' {
        width: inherit;
        max-width: map_get($grid, #{$scr}-container-width);
      }
      @if (map_get($grid, #{$scr}-container-min-width) != false and map_get($grid, #{$scr}-container-min-width) != null){
        min-width: map_get($grid, #{$scr}-container-min-width);
      } @else {
        min-width: inherit;
      }
    }
    &._pad {
      padding-right: $gutter;
      padding-left: $gutter;
    }
  }
}