$grid: 1 2 3 4 5 6 7 8 9 10 11 12;
$grid-total: last($grid);
$gutter: (map_get($grid-default, gutters)) * 11 / 12;

.col {
  &:last-child:not(.col-last-l),
  &.col-last-l,
  &._ungap{
    margin-right: 0;
  }
}

@each $number in $grid {
  $n: index($grid, $number);
  $column: 100%/$grid-total * $n;
  $compensation: $gutter * ($n/$grid-total);
  $reduced-column: ($column * (1 - ($gutter / $column)));
  $offset: $column + $gutter;

  .col-l-#{$n} {
    flex: 0 0 $reduced-column;
    max-width: $reduced-column;
  }
  .col-l-offset-#{$n} {
    margin-left: $offset;
  }

  .col.col-l-offset-#{$n} {
    margin-left: $column + $compensation;
  }

  .row._ungap{
    >.col-l-#{$n} {
      flex: 0 0 $column;
      max-width: $column;
    }
    >.col-l-offset-#{$n} {
      margin-left: $column;
    }
  }

}

.row {
  @include flex-distribution(-l);
}

@include flex-order(-l);