.col {
  &:last-child:not(.col-last-xl),
  &.col-last-xxl,
  &._ungap{
    margin-right: 0;
  }
}

@each $number in $grid-columns {
  $n: index($grid-columns, $number);
  $column: $grid-width/$grid-total * $n;
  $compensation: $gutter * ($n/$grid-total);
  $reduced-column: ($column * (1 - ($gutter / $column))) + $compensation;
  $offset: $column + $compensation + $gutter;

  .col-xxl-#{$n} {
    flex: 0 0 $reduced-column;
    max-width: $reduced-column;
  }
  .row._start,
  .row._end,
  .row._center{
    .col-xxl-#{$n} {
      flex: 0 0 $column - $gutter;
      max-width: $column - $gutter;
    }
  }
  .row._start{
    .col-xxl-#{$n} {
      margin-right: $gutter;
    }
  }
  .row._end{
    .col-xxl-#{$n} {
      margin-left:$gutter;
    }
  }
  .row._center{
    .col-xxl-#{$n}:not(:first-of-type) {
      margin-left:$gutter;
    }
  }

  .col-xxl-offset-#{$n} {
    margin-left: $offset;
  }

  .col.col-xxl-offset-#{$n} {
    margin-left: $column + $compensation;
  }

  .row._ungap{
    >.col-xxl-#{$n} {
      flex: 0 0 $column;
      max-width: $column;
      margin-left: 0;
      margin-right: 0;
    }
    >.col-xxl-offset-#{$n} {
      margin-left: $column;
    }
  }

}

.row {
  @include flex-distribution("",-xxl);
}

@include flex-order(-xxl);