.box {
	& {
		box-sizing: border-box;
		border-radius: map_get($object-boxes-vars, border-radius);
		margin-bottom: map_get($object-boxes-vars, mobile-margin-bottom);
		padding: map_get($object-boxes-vars, mobile-padding);
		border: map_get($object-boxes-vars, border);
		overflow: hidden;
		background: $color-box;
		color: contrast-color($color-box);
		position: relative;

	}
	&._background {
		& {
			background: $color-background;
			color: contrast-color($color-background);
		}
		& > &._lighten {
			background: $color-box;
		}
		&._background {
			border: 1px solid $color-box;
		}
		&._hollow {
			border-color: $color-background;
		}
	}

	&._empty {
		background: transparent;
	}

	&._foreground {
		background: $color-foreground;
		color: contrast-color($color-foreground);
		&._hollow {
			border-color: $color-foreground;
		}
	}

	&._success {
		background: $color-success;
		color: contrast-color(darken($color-success, 10%));
		&._hollow {
			border-color: $color-success;
		}
	}

	&._error {
		background: $color-error;
		color: contrast-color($color-error, $color-foreground, $color-background);
		&._hollow {
			border-color: $color-error;
		}
	}

	&._info {
		background: $color-info;
		color: contrast-color($color-info, $color-foreground, $color-background);
		&._hollow {
			border-color: $color-info;
		}
	}

	&._warning {
		background: $color-warning;
		color: contrast-color($color-warning, $color-foreground, $color-background);
		&._hollow {
			border-color: $color-warning;
		}
	}

	&._darken {
		@include background-transparent($color-foreground, map_get($object-boxes-vars, darken-modifier));
		color: $color-background;
		box--shadow: none;
	}

	&._lighten {
		@include background-transparent($color-background,map_get($object-boxes-vars, lighten-modifier));
		color: $color-foreground;
		box--shadow: none;
	}

	&._primary {
		& {
			background: $color-primary;
			color: contrast-color($color-primary, $color-foreground, $color-background);
		}
		a {
			color: contrast-color($color-primary, $color-foreground, $color-background);
		}
		&._hollow {
			border-color: $color-primary;
			color: $color-foreground;
			a {
				color: $color-link;
			}
		}
	}

	&._secondary {
		& {
			background: $color-secondary;
			color: contrast-color($color-secondary, $color-foreground, $color-background);
		}
		a {
			color: contrast-color($color-secondary, $color-foreground, $color-background);
		}
		&._hollow {
			border-color: $color-secondary;
			color: $color-foreground;
			a {
				color: $color-link;
			}
		}
	}
	&._hollow {
		border: map_get($object-boxes-vars, border-hollow);
		background: transparent;
	}

}