.box {
	& {
		box-sizing: border-box;
		@if $default-border-radius > 0 {
			border-radius: $default-border-radius;
		}
		margin-bottom: $spacing;
		padding: $spacing;
		overflow: hidden;
		background: $color-box;
		color: contrast-color($color-box);

	}
	&._lighten {
		background: $color-background;
	}
	&._background {
		& {
			background: $color-background;
			color: contrast-color($color-background);
		}
		& > &._lighten {
			background: $color-box;
		}
		&._background {
			border: 1px solid $color-box;
		}
	}

	&._empty {
		background: transparent;
	}

	&._foreground {
		background: $color-foreground;
		color: contrast-color($color-foreground);
	}

	&._success {
		background: $color-success;
		color: contrast-color(darken($color-success, 10%));
	}

	&._error {
		background: $color-error;
		color: contrast-color($color-error, $color-foreground, $color-background);
	}

	&._info {
		background: $color-info;
		color: contrast-color($color-info, $color-foreground, $color-background);
	}

	&._warning {
		background: $color-warning;
		color: contrast-color($color-warning, $color-foreground, $color-background);
	}

	&._darken {
		@include background-transparent($color-foreground, .3);
		color: $color-background;
		box--shadow: none;
	}

	&._lighten {
		@include background-transparent($color-background, .3);
		color: $color-foreground;
		box--shadow: none;
	}

	&._primary {
		& {
			background: $color-primary;
			color: contrast-color($color-primary, $color-foreground, $color-background);
		}
		a {
			color: contrast-color($color-primary, $color-foreground, $color-background);
		}
	}

	&._secondary {
		background: $color-secondary;
		color: $color-background;
	}
}