<select id="available_countries" name="available_countries" data-placeholder="Select an option..." required multiple="multiple" data-fc-modules="select-search">
	<optgroup label="Near countries">
		<option value="DE">Alemania</option>
		<option value="AU">Australia</option>
		<option value="AT">Austria</option>
		<option value="BR">Brasil</option>
		<option value="CA">Canadá</option>
		<option value="CN">China</option>
		<option value="ES">España</option>
	</optgroup>
	<optgroup label="Far away countries">
		<option value="US">Estados Unidos</option>
		<option value="FR">Francia</option>
		<option value="IN">India</option>
		<option value="IT">Italia</option>
		<option value="JP">Japón</option>
		<option value="NL">Países Bajos</option>
		<option value="PL">Polonia</option>
		<option value="GB">Reino Unido</option>
		<option value="RU">Rusia</option>
		<option value="SE">Suecia</option>
		<option value="CH">Suiza</option>
	</optgroup>
</select>
