<div>
	<a href="#cart-list" id="cart-link" data-tc-modules="cart" data-tc-email="tonpinel@gmail.com" data-tc-tax-rate=".11">
		<i class="icon-shopping-cart"></i> <span class="cart-quantity"></span> items - <span class="cart-grand-total"></span>
	</a>
	<div id="cart-list" class="hidden">
		<!-- button to empty the cart -->

		<!-- show the cart -->
		<div class="cart-items">
		</div>
		<div class="item-row">
			<div class="item-name">Taxes</div>
			<div class="item-total cart-tax"></div>
		</div>
		<div class="item-row">
			<div class="item-name">shipment cost</div>
			<div class="item-total cart-shipping"></div>
		</div>
		<div class="item-row">
			<div class="item-name">TOTAL</div>
			<div class="item-total cart-grand-total"></div>
		</div>
		<div class="actions">
			<a href="javascript:;" class="button-ko ph-m simpleCart_empty"><i class="icon-trash-o"></i> Empty </a>
			<!--<a href="javascript:;" class="button ph-m simpleCart_empty"><i class="icon-eye"></i> View </a>-->
			<a href="javascript:;" class="button-ok simpleCart_checkout">Checkout <i class="icon-arrow-circle-right"></i> </a>
		</div>
	</div>
</div>