.number-field-button {
  display: inline-block;
  background: $color-secondary;
  border-radius: 50%;
  color: contrast-color($color-secondary);
  width: 1.2rem;
  height: 1.2rem;
  border: 0px none;
  text-align: center;
  font-weight: bold;
  line-height: 120%;
  position: absolute;
  top: $spacing/4;
  &._dec {
    left: 0;
  }
  &._inc {
    right: 0;
  }
  &:hover {
    text-decoration: none;
  }
}
.number-field-wrapper {
  padding: 0 $spacing;
  display: block;
  position: relative;
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  input {
    text-align: center;
  }
}