.number-field-button {
  display: inline-block;
  background: $color-secondary;
  border-radius: 50%;
  color: contrast-color($color-secondary);
  width: 1.2rem;
  height: 1.2rem;
  border: 0px none;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: $spacing/4;
  line-height: 100%;
  &._dec {
    left: 0;
  }
  &._inc {
    right: 0;
  }
  &:hover {
    text-decoration: none;
  }
}

.form input[type="number"][data-fc-modules="number-field"], input[type="number"][data-fc-modules="number-field"]  {
  padding-right: $spacing/4;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none !important;
    -webkit-appearance: none !important;
    -moz-appearance:textfield !important;
    margin: 0;
  }
}


.number-field-wrapper {
  padding: 0 $spacing;
  display: block;
  position: relative;
  input {
    text-align: center;
  }
}