@for $h from 1 through 6 {
  h#{$h}, .h#{$h} {
    @if map-get($object-fonts-vars, h#{$h}-font-size-desktop) != initial {
      font-size: map-get($object-fonts-vars, h#{$h}-font-size-desktop);
    } @elseif map-get($fonts, size-ratio-default) != map-get($fonts, size-ratio-desktop) {
      font-size: map-get($object-fonts-vars, h#{$h}-font-size);
    }
  }
  .h#{$h}-desktop {
    @extend %h#{$h}
  }
}

@if map-get($fonts, size-ratio-default) != map-get($fonts, size-ratio-desktop) {
  small, .small {
    font-size: map-get($object-fonts-vars, small-font-size );
  }
}

