h1, .h1 {
  font-size: $font-size-xxxl;
}

h2, .h2 {
  font-size: $font-size-xxl;
}

h3, .h3 {
  font-size: $font-size-xl;
}

h4, .h4 {
  font-size: $font-size-l;
}

h5, .h5 {
  font-size: $font-size-m;
}

h6, .h6 {
  font-size: $font-size-default;
}