html {
  font-family: $font-face-default;
  font-size: ms(0, map_get($fonts, size-base));
  font-weight: $font-weight-default;
  text-rendering: optimizelegibility;
  @if ( map_get($fonts, line-height-base) != false ) {
    * {
      line-height: map_get($fonts, line-height-base);
    }
  }
}

/* @group FONT-FAMILIES */
.code, code, pre, kbd, samp {
  font-family: Menlo, Consolas, monospace;
}

/* @endgroup FONT-FAMILIES */

/* @group FONT-SIZES */

/* @endgroup FONT-SIZES */

/* @group FONT-SPACINGS */
ul, ol, dl,
fieldset,
p,
table,
pre,
hr {
  margin: 0 0 1em;
}

p {
  line-height: map-get($fonts, line-height-default);
}

@for $h from 1 through 6 {
  h#{$h}, .h#{$h} {
    @extend %h#{$h};
  }
}

small, .small {
  color: map-get($object-fonts-vars, small-color );
  font-size: map-get($object-fonts-vars, small-font-size );
  font-style: map-get($object-fonts-vars, small-font-style );
  font-weight: map-get($object-fonts-vars, small-font-weight );
  line-height: map-get($object-fonts-vars, small-line-height );
  letter-spacing: map-get($object-fonts-vars, small-letter-spacing );
  word-spacing: map-get($object-fonts-vars, small-word-spacing );
  margin: map-get($object-fonts-vars, small-margin );
  padding: map-get($object-fonts-vars, small-padding );
}

blockquote {
  margin: 0 0 $spacing;
  padding: $spacing/2 $spacing;
  border-left: 1px solid $color-box;
}

cite {
  display: block;
  font-size: $font-size-s;
  color: $color-foreground-light;
}


hr {
  max-width: 100%;
  height: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid $color-foreground-light;
  border-left: 0;
  margin: $spacing auto;
  clear: both;
}