ul, ol {
  list-style: none;
}
ul.list {
  & {
    list-style: disc inside;
  }
  &._horizontal {
    li {
      display: inline-block;
      margin-right: $spacing/4;
    }
  }
  ul {
    & {
      list-style: circle;
    }
  }
}

ol.list {
  & {
    list-style: decimal inside;
  }
  &._horizontal {
    li {
      display: inline-block;
      margin-right: $spacing/4;
    }
  }
}

dl.list {
  dt {
    color: $color-foreground-light;
  }
  dd {
    margin-left: 0;
    margin-bottom: $spacing/2;
  }
  &._horizontal {
    & {
      display: block;
      overflow: hidden;
    }
    dt, dd {
      float: left;
    }
    dt {
      clear: left;
    }
    dd {
      margin-left: $spacing/2;
    }
  }
}