<ol>
  <li>
    <label>Telephone number</label>
    <input id="phone" type="tel" data-fc-modules="tel-field" data-fc-country-field="#address-country-tel" data-fc-sync-country="false" data-fc-code-field="#code-country-tel" data-fc-sync-code="false">
  </li>
  <li>
    <label>Country</label>
    <div class="select">
      <select id="address-country-tel"></select>
    </div>
  </li>
  <li>
    <label>Code</label>
      <div class="select">
        <select id="code-country-tel"></select>
      </div>
  </li>
</ol>