.callout {
  & {
    padding: $spacing/2 $spacing;
    margin: 1px 1px $spacing 1px;
    color: $color-foreground;
    border-radius: $default-border-radius;
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 0 $spacing/4;
    background: $color-background;
    position: relative;
    box-shadow: 0 0 2px rgba($color-foreground, .5);
    font-size: $font-size-default;
  }
  &._icon {
    text-align: center;
    i {
      font-size: 4rem;
      display: block;
      margin-bottom: $spacing/2;
    }
  }
  @each $colorName, $colorValue in $colors-status {
    &._#{$colorName} {
      border-color: $colorValue;
      h1,h2,h3,h4,h5,h6 {
        color: $colorValue;
      }
    }
  }
}


