.callout {
  & {
    padding: map_get($object-callouts-vars, padding);
    margin: map_get($object-callouts-vars, margin);
    color: map_get($object-callouts-vars, color);
    border-radius: map_get($object-callouts-vars, border-radius);
    overflow: hidden;
    border-style: map_get($object-callouts-vars, border-style);
    border-width: map_get($object-callouts-vars, border-width);
    background: map_get($object-callouts-vars, background);
    position: relative;
    box-shadow: map_get($object-callouts-vars, box-shadow);
    font-size: map_get($object-callouts-vars, font-size);
  }
  &._icon {
    text-align: center;
    i {
      font-size: 4rem;
      display: block;
      margin-bottom: $spacing/2;
    }
  }
  @each $colorName, $colorValue in $colors-status {
    &._#{$colorName} {
      border-color: $colorValue;
      h1,h2,h3,h4,h5,h6 {
        color: $colorValue;
      }
    }
  }
}


