html {
  height: 100%;
  overflow: auto;
  background-color: $color-body;
  color: $color-foreground;
}

a {
  & {
    color: $color-link;
    text-decoration: none
  }
  &:hover {
    text-decoration: underline;
  }
}

/* @group SCROLLBAR */
.scroll::-webkit-scrollbar,
pre::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 9px;
  height: 10px;
  background: none;
}

pre::-webkit-scrollbar-button,
textarea::-webkit-scrollbar-button,
.scroll::-webkit-scrollbar-button {
  display: none;
  background: none;
}

pre::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  margin: 20px;
}

pre::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background-color: #CCC;
}

pre::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover,
.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #AAA;
}
/* @endgroup SCROLLBAR */

/* @group HELPERS */
img,
object {
  max-width: 100%;
  height: auto;
}

/* @endgroup HELPERS */

small {
  @include rem-fallback(font-size, $font-size-xxs, false);
  line-height: $base-line-height;
}

body {
  display: block;
  opacity: 1;
}

ul, menu, dir {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}