<div class="box-none ta-c">

	<!-- Image polaroid with rotation -20deg -->
	<a href="#" class="image-polaroid trf-r--20">
		<img src="../static/img/chuck.jpg" width="120" />
	</a>

	<!-- Image polaroid with rotation -10deg -->
	<a href="#" class="image-polaroid trf-r--10">
		<img src="../static/img/chuck.jpg" width="120" />
	</a>

	<!-- Image polaroid default -->
	<a href="#" class="image-polaroid">
		<img src="../static/img/chuck.jpg" width="120" />
	</a>

	<!-- Image polaroid with rotation 10deg -->
	<a href="#" class="image-polaroid trf-r-10">
		<img src="../static/img/chuck.jpg" width="120" />
	</a>

	<!-- Image polaroid with rotation 20deg -->
	<a href="#" class="image-polaroid trf-r-20">
		<img src="../static/img/chuck.jpg" width="120" />
	</a>
	
</div>