.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-family: map-get($object-forms-vars, field-font-family);
	font-size: map-get($object-forms-vars, field-font-size);
	font-weight: map-get($object-forms-vars, field-font-weight);
	user-select: none;
	z-index: 2;
}
.chosen-container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.chosen-container .chosen-drop {
	position: absolute;
	top: 100%;
	left: -9999px;
	z-index: 201;
	width: 100%;
	border-right: map-get($object-forms-vars, field-border-right);
	border-bottom: map-get($object-forms-vars, field-border-bottom);
	border-left: map-get($object-forms-vars, field-border-left);
	border-top: 0;
	background: #fff;
	box-shadow: map-get($object-forms-vars, field-box-shadow);
}
.chosen-container.chosen-with-drop .chosen-drop {
	left: 0;
}
.chosen-container a {
	cursor: pointer;
}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
	margin-right: 4px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: normal;
	color: #999999;
}
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
	content: ":";
	padding-left: 2px;
	vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: map-get($object-forms-vars, field-padding);
	border-top: map-get($object-forms-vars, field-border-top);
	border-right: map-get($object-forms-vars, field-border-right);
	border-bottom: map-get($object-forms-vars, field-border-bottom);
	border-left: map-get($object-forms-vars, field-border-left);
	border-radius: map-get($object-forms-vars, field-border-radius);
	background-color: $color-background;
	background-clip: padding-box;
	box-shadow: map-get($object-forms-vars, field-box-shadow);
	color: map-get($object-forms-vars, field-color);
	text-decoration: none;
	white-space: nowrap;
	&:after {
		content:"\25BE";
		padding: 0 $spacing/2 0 $spacing/4;
		position: absolute;
		right: 0;
		top: 50%;
		font-size: $font-size-default;
		margin-top: -(($font-size-default/2) * 1.1 );
		z-index: 1;
		text-align: center;
		pointer-events: none;
		box-sizing: border-box;
	}
}
.chosen-container-single .chosen-default {
	color: map-get($object-forms-vars, field-color);
}
.chosen-container-single .chosen-single span {
	display: inline-block;
	overflow: hidden;
	margin-right: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.1;
}
.chosen-container-single .chosen-single-with-deselect span {
	margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
	position: absolute;
	top: 6px;
	right: 26px;
	display: block;
	width: 12px;
	height: 12px;
	font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
	background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
	background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 18px;
	height: 100%;
}
.chosen-container-single .chosen-single div b {
	display: block;
	width: 100%;
	height: 100%;
}
.chosen-container-single .chosen-search {
	position: relative;
	z-index: 201;
	margin: 0;
	padding: 3px 4px;
	white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	width: 100%;
	height: auto;
	outline: 0;
	border-top: map-get($object-forms-vars, field-border-top);
	border-right: map-get($object-forms-vars, field-border-right);
	border-bottom: map-get($object-forms-vars, field-border-bottom);
	border-left: map-get($object-forms-vars, field-border-left);
	font-size: 1em;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
}
.chosen-container-single .chosen-drop {
	margin-top: -1px;
	border-radius: 0 0 4px 4px;
	background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
	position: absolute;
	left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
	color: map-get($object-forms-vars, field-color);
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 4px 4px 0;
	padding: 0 0 0 4px;
	max-height: 240px;
	-webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
	display: none;
	margin: 0;
	padding: 5px 6px;
	list-style: none;
	line-height: 15px;
	word-wrap: break-word;
	-webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
	display: list-item;
	cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
	display: list-item;
	color: #ccc;
	cursor: default;
}
.chosen-container .chosen-results li.highlighted {
	background-color: $color-link;
	color: contrast-color($color-link);
	em {
		color: contrast-color($color-link);
	}
}
.chosen-container .chosen-results li.no-results {
	color: map-get($object-forms-vars, field-color);
	display: list-item;
	background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
	display: list-item;
	font-weight: bold;
	cursor: default;
}
.chosen-container .chosen-results li.group-option {
	padding-left: 15px;
}
.chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline;
	color: $color-link;
	font-size: $font-size-m;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
	height: auto !important;
	height: 1%;
	background-color: #fff;
	cursor: text;
	padding-left: $spacing/4;
	border-top: map-get($object-forms-vars, field-border-top);
	border-right: map-get($object-forms-vars, field-border-right);
	border-bottom: map-get($object-forms-vars, field-border-bottom);
	border-left: map-get($object-forms-vars, field-border-left);
	&:after {
		content:"\25BE";
		padding: 0 $spacing/2 0 $spacing/4;
		position: absolute;
		right: 0;
		top: 50%;
		font-size: $font-size-default;
		margin-top: -(($font-size-default/2) * 1.1 );
		z-index: 1;
		text-align: center;
		pointer-events: none;
		box-sizing: border-box;
	}
}
.chosen-container-multi .chosen-choices li {
	float: left;
	list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	padding: 0;
	outline: 0;
	border: 0 !important;
	background: transparent !important;
	box-shadow: none;
	color: map-get($object-forms-vars, field-placeholder-color);
	font-size: 100%;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
	margin: map-get($object-forms-vars, field-padding);
	padding-top: $spacing/8;
	&:focus {
		box-shadow: none !important;
	}
}


.chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin-right: $spacing/2;
	margin-top: $spacing/4;
	margin-bottom: $spacing/4;
	@extend %tag;
	&:hover {
		background: $color-box;
		color: rgba($color-foreground, .8);
	}

}
.chosen-container-multi .chosen-choices li.search-choice span {
	word-wrap: break-word;
}


.chosen-container-multi .chosen-choices li.search-choice-disabled {
	padding-right: 5px;
	border: 1px solid #ccc;
	background-color: #e4e4e4;
	color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
	background: #d4d4d4;
}

.chosen-container-multi .chosen-results {
	margin: 0;
	padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
	display: list-item;
	color: #ccc;
	cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #aaa;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	box-shadow: 0 1px 0 #fff inset;
}

.chosen-container-active .chosen-choices {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
	color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
	opacity: 0.5 !important;
	cursor: default;
}
.chosen-disabled .chosen-single {
	cursor: default;
}
.search-choice-close {
	display: inline-block;
	background: $color-primary;
	color: contrast-color($color-primary);
	padding: 0 $spacing/4;
	float: right;
	cursor: pointer;
	margin: 0 0 0 $spacing/4;
	position: absolute;
	top: -$spacing/8;
	right: -$spacing/2;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px 1px rgba(0,0,0, .1);
	&:after {
		content: "\00D7";
	}
	&:hover {
		background: $color-link;
		contrast-color: $color-link;
		text-decoration: none;
	}
}

/* @end */
